extends ../template.jade

block content
  div(style="float:left;width:38%;box-sizing:border-box;padding:10px").column
    each item in items
      a.video-link(data-video=item.youtube)= item.title
  div#video-container(style="float:right;width:62%;box-sizing:border-box;padding:10px").column
  script.
    (function () {

    var container = document.getElementById("video-container")
      , links     = Array.prototype.slice.apply(document.getElementsByClassName("video-link"))
      , template  =
          '<iframe width="WIDTH" height="HEIGHT" src="SRC" frameborder="0" allowfullscreen>'.replace("SRC",
            'https://www.youtube-nocookie.com/embed/VIDEO?rel=0&amp;showinfo=0')
      , render    =
          function (id) {
            var width = container.clientWidth
            return template.replace(
              "WIDTH",  width).replace(
              "HEIGHT", width / 4 * 3).replace(
              "VIDEO",  id);
          };

      links.map(function(el) {
        el.addEventListener('click', function (evt) {
          links.map(function(el2) { el2.classList.remove('video-link-active') });
          el.classList.add('video-link-active');
          container.innerHTML = render(el.dataset.video);
        }) });

    })();
