extends ../template.jade

block content

  .subtitle
    br
    | !{subtitle}
    br
    br

  hr

  .albums
    each album in albums
      .album
        h2.album-title #{album.title}
        .album-year #{album.year}
        each song, i in album.songs
          .song(id=song.id)
            h3.song-title #{i+1}. 
              a.song-expand(id=song.id+'-title') #{song.title}
              if song.mp3
                a.song-mp3(id=song.id+'-mp3',href=song.mp3,target="_blank") &#9654;
            .song-lyrics(id=song.id+'-lyrics')
              | !{song.text}
              if song.mp3
                a.song-download(href=song.mp3,download=true) изтегли песента

            script.
              (function (id) {
                var title  = document.getElementById(id + '-title')
                  , lyrics = document.getElementById(id + '-lyrics')
                lyrics.style.display = 'none';
                title.onclick = function () {
                  if (lyrics.style.display === 'none') {
                    lyrics.style.display = 'block';
                  } else {
                    lyrics.style.display = 'none';
                  }
                }
              })("#{song.id}")
