extends ../template.jade

block content

  div.subtitle
    br
    | ако искате да ни подкрепите, ето
    br
    | това е първият и последен наш продукт
    br
    br

  hr

  div(style="float:left;width:38%;box-sizing:border-box;padding:10px").column
    p мили другари, имаме продукт!
    p.
      представяме на вашето внимание причината за привидната ни пасивност
      последните месеци.
    p.
      ако искате да украсите библиотеката си, импровизираното домашно музикално
      студио или кочината от пълни пепелници и празни шишета по пода на
      таванската стая, където съжителствате с трънясалата си душа, ей тука ви
      предлагаме следната възможност:
    ul
      li.
        стихосбирка с дискче: 61 текста в пет цикъла,
        33 песни с опция за дозаписване.
      li.
        тираж: 200 бройки, 50 промоционални.
      li.
        характеристики: 270x210mm, твърди корици; кибритени клечки с драскалце,
        за да процедирате както намерите за добре, ако не ви хареса.
      li.
        цена: 15 лв.
      li.
        начин на получаване: пращаме с еконт.
        за варненските другарчета може и лично.
      li.
        срок на получаване: до една седмица след предварителна заявка.
        заявката може да направите на телефон <strong>0886/ 520 524</strong>,
        в раздел <strong><a href="dumichki.html">"думи от вас"</a></strong>
        //-или на <strong><a href="https://www.facebook.com/жълти-стъкла-132848253498493">фейсбук страницата ни</a></strong>
    p.
      изданието е многострадално - седем месеца само печатните мъки.
      печатарите ни казаха, че такава черна книга не може да се изработи,
      затва решихме да я направим.
    p препоръчителна е консумацията в пълна самостоятелност.

  div(style="float:right;width:62%;box-sizing:border-box;padding:10px").column

    #gallery-controls

    each src in gallery
      img.gallery-image(src=src)

    script.
      var pics = document.getElementsByClassName('gallery-image');
      var ctrl = document.getElementById('gallery-controls');
      [].map.call(pics, initPic);
      function initPic (el, i) {
        if (i > 0) el.style.display = 'none';
        var c = document.createElement('a');
        c.innerText = String(i + 1);
        c.onclick = showPic.bind(null, i);
        ctrl.appendChild(c);
      }
      function showPic (i) {
        [].map.call(pics, function (pic, j) {
          pic.style.display = (j == i) ? 'block' : 'none'
        })
      }
