body {
  background-color: #010101;
  color: #eeeeee;
  font-family: verdana, sans-serif;
  font-size: 11px;
  overflow-y: scroll;
}

p { font-size: 11px; }

div { font-size: 11px; }

h3 { font-size: 11px; }

a, a:active, a:visited {
  color: #ffffff;
  text-decoration: underline;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

#main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#head {
  font-size: 13px;
  text-align: center;
}

.tcell {
  float: left;
  padding: 4px;
}

.tbl {
  float: none;
  position: absolute;
  display: inline;
}

.coll {
  display: none;
}

.collr {
  display: none;
  text-align: right;
}

.player, .player *, h3 object {
  display: inline-block;
  vertical-align: middle;
}

#vremeto p { margin-bottom: 1em; text-indent: 3em; }

.instrument:hover,
.instrument:focus {
    color: #ccaa26;
    text-decoration: none;
}

.site-title {
  font-size:26px;
}

.navigation {
  margin-top: 1px;
  font-size: 10px; 
}

.navigation a {
  padding: 0 0.34em;
}

/* *** */

a.video-link {
  display: block;
  padding: 0 0 12px 0;
  text-align: left;
  font-weight: bold;
}

a.video-link:hover {
  cursor: pointer;
  color: #ccaa26;
}

a.video-link-active {
  color: #ccaa26;
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  margin-bottom: 5px;
}

.subtitle {
  font-size: 16px;
  text-align: center;
  color: rgb(204, 170, 38);
}

#gallery-controls {
  text-align: center;
}

#gallery-controls a {
  color: #ccaa26;
  font-weight: bold;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

.gallery-image {
  display: block;
  max-width: 100%;
}

.albums {
  font-size: 0;
}

.album {
  font-size: 11px;
  display: inline-block;
  width: 33.333%;
  vertical-align: top;
}

.album-title {
  font-weight: bold;
  font-size: 14px;
  padding: 20px 0 12px;
  margin: 0;
}

.album-year {
  font-style: italic;
  font-size: 10px;
  margin-bottom: 35px;
}

.song {}

.song-expand {
  text-decoration: underline;
  cursor: pointer;
}

.song-expand:hover {
  text-decoration: none;
}

.song-mp3 {
  position: relative;
  text-decoration: none;
  display: inline-block;
  padding: 6px 12px;
  background: #111;
  margin: -6px 6px;
}

.song-mp3:hover {
  background: #222;
  z-index: 1;
}

a.song-download {
  display: block;
  color: #ccaa26;
  margin: 10pt 16pt 0;
}

.song-lyrics {
  white-space: pre-wrap;
  margin-bottom: 24px;
}
