extends ../template.jade

block content

  div.subtitle
    br
    | #{subtitle}
    br
    br

  hr

  div(style="float:left;width:38%;box-sizing:border-box;padding:10px").column
    each gig, i in items
      a.video-link(data-index=i)= gig.title

  div(style="float:right;width:62%;box-sizing:border-box;padding:10px").column
    each gig, i in items
      each src, j in gig.pics
        img.gallery-image(src=src,data-gig=i,data-index=j)
    script.
      var pics = document.getElementsByClassName('gallery-image');
      var links = document.getElementsByClassName('video-link');

      [].map.call(pics, initPic);
      [].map.call(links, initLink)

      function initPic (el, i) {
        el.style.display = 'none';
      }

      function initLink (el, i) {
        el.onclick = showPics.bind(null, el.dataset.index);
      }

      function showPics (i) {
        console.log('show pics', i);
        [].map.call(pics, function (el) {
          el.style.display = (el.dataset.gig === i) ? 'block' : 'none';
        })
      }
