    <div>

    <center>
      <table cellpadding="0" cellspacing="0" width="100%">
        <tbody>

<tr><td colspan="3"><div style="font-size: 16px; text-align: center; color: rgb(204, 170, 38);"><br>стари рисунки от някога преди.<br><br></div><hr><br></td></tr>
<tr><td>

<h3><a href="javascript:;" onmousedown="toggleDiv('1');" name="1">1</a></h3>
<div style="display: none;" class="coll" id="1">
<img src="risunki/1.jpg">
<br>
</div>

<h3><a href="javascript:;" onmousedown="toggleDiv('2');" name="2">2</a></h3>
<div style="display: none;" class="coll" id="2">
<img src="risunki/2.jpg">
<br>
</div>

<h3><a href="javascript:;" onmousedown="toggleDiv('3');" name="3">3</a></h3>
<div style="display: none;" class="coll" id="3">
<img src="risunki/3.jpg">
<br>
</div>

<h3><a href="javascript:;" onmousedown="toggleDiv('4');" name="4">4</a></h3>
<div style="display: none;" class="coll" id="4">
<img src="risunki/4.jpg">
<br>
</div>

<h3><a href="javascript:;" onmousedown="toggleDiv('5');" name="5">5</a></h3>
<div style="display: none;" class="coll" id="5">
<img src="risunki/5.jpg">
<br>
</div>

<h3><a href="javascript:;" onmousedown="toggleDiv('6');" name="6">6</a></h3>
<div style="display: none;" class="coll" id="6">
<img src="risunki/6.jpg">
<br>
</div>

<h3><a href="javascript:;" onmousedown="toggleDiv('7');" name="7">7</a></h3>
<div style="display: none;" class="coll" id="7">
<img src="risunki/7.jpg">
<br>
</div>

<h3><a href="javascript:;" onmousedown="toggleDiv('8');" name="8">8</a></h3>
<div style="display: none;" class="coll" id="8">
<img src="risunki/8.jpg">
<br>
</div>

<h3><a href="javascript:;" onmousedown="toggleDiv('9');" name="9">9</a></h3>
<div style="display: none;" class="coll" id="9">
<img src="risunki/9.jpg">
<br>
</div>

<h3><a href="javascript:;" onmousedown="toggleDiv('10');" name="10">10</a></h3>
<div style="display: none;" class="coll" id="10">
<img src="risunki/10.jpg">
<br>
</div>

<h3><a href="javascript:;" onmousedown="toggleDiv('11');" name="11">11</a></h3>
<div style="display: none;" class="coll" id="11">
<img src="risunki/11.jpg">
<br>
</div>

<h3><a href="javascript:;" onmousedown="toggleDiv('12');" name="12">12</a></h3>
<div style="display: none;" class="coll" id="12">
<img src="risunki/12.jpg">
<br>
</div>

<h3><a href="javascript:;" onmousedown="toggleDiv('13');" name="13">13</a></h3>
<div style="display: none;" class="coll" id="13">
<img src="risunki/13.jpg">
<br>
</div>

<h3><a href="javascript:;" onmousedown="toggleDiv('14');" name="14">14</a></h3>
<div style="display: none;" class="coll" id="14">
<img src="risunki/14.jpg">
<br>
</div>

<h3><a href="javascript:;" onmousedown="toggleDiv('15');" name="15">15</a></h3>
<div style="display: none;" class="coll" id="15">
<img src="risunki/15.jpg">
<br>
</div>

<h3><a href="javascript:;" onmousedown="toggleDiv('16');" name="16">16</a></h3>
<div style="display: none;" class="coll" id="16">
<img src="risunki/16.jpg">
<br>
</div>

</td></tr>

          </tbody>
        </table>
      </center>

    </div>
