    <div><center>
    <table cellpadding="0" cellspacing="0" width="100%">
    <tbody><tr><td colspan="3"><div style="font-size: 16px; text-align: center; color: rgb(204, 170, 38);"><br>това са песни, които нямаме пари да запишем.<br>но работим по въпроса.<br><br></div><hr><br></td></tr>
    <tr><td>

    <table style="width: 100%; font-size: 11px">
    <tr style="text-align: left; font-size: 14px; vertical-align: top; font-weight: bold">
    <td style="width: 33%; padding: 5px; ">срутени сутрини</td>
    <td style="width: 33%; padding: 5px; ">този танц е всъщност безсмислен</td>
    <td style="width: 33%; padding: 5px; ">сетивата прекипели</td>
    </tr>
    <tr style="text-align: left; font-size: 10px; font-style: italic;">
    <td style="width: 33%; padding: 5px 5px 20px; ">2007-2008</td>
    <td style="width: 33%; padding: 5px 5px 20px; ">2009-2011</td>
    <td style="width: 33%; padding: 5px 5px 20px; ">2011-2012</td>
    </tr>
    <tr>
    <td style="vertical-align: top;">


    <h3>1. <a href="javascript:;" onmousedown="toggleDiv('zavinagi');" name="zavinagi">завинаги</a><div id="player_zavinagi" class=player>&nbsp;</div>
    <script type="text/javascript">
    AudioPlayer.embed("player_zavinagi", {soundFile: "http://adam.inbulgaria.org/zhst/zhs-zavinagi.mp3", titles:"завинаги", artists: "жълти стъкла"});
    </script>
    </h3>
    <div style="display: none;" class="coll" id="zavinagi"><p>
    южен вятър пилее листата<br>
    в снежнобял стоманен кувьоз.<br>
    вие двама лежите в мъглата,<br>
    мъглата-убиец е вашият вожд.</p>

    <p style="margin-left: 16pt;">вий сте децата на снощното утре<br>
    още с отровните детски бодли.<br>
    вие сте грешка, мера според мера!<br>
    а вярната грешка силно боли.</p>

    <p>очите ви празни, открехнати двери,<br>
    разкъсан, сподавен е вашият стон.<br>
    заспивайте вие, а той ще намери<br>
    през нашата злоба величествен трон.</p>

    <p style="margin-left: 16pt;">вий сте децата на снощното утре<br>
    още с отровните детски бодли.<br>
    вие сте грешка, мера според мера!<br>
    а вярната грешка силно боли.</p>

    <p style="margin-left: 16pt; color: #ccaa26 !important"><a style="color: rgb(204, 170, 38) !important;" href="http://adam.inbulgaria.org/zhst/zhs-zavinagi.mp3">изтегли песента</a></p>
    <br>
    </div>


    <h3>2. <a href="javascript:;" onmousedown="toggleDiv('vhod1');" name="vhod1">вход 1-ви</a><div id="player_vh1" class=player>&nbsp;</div>
    <script type="text/javascript">
    AudioPlayer.embed("player_vh1", {soundFile: "http://adam.inbulgaria.org/zhst/zhs-vh1.mp3", titles:"вход 1-ви", artists: "жълти стъкла"});
    </script></h3>
    <div style="display: none;" class="coll" id="vhod1">
    <p style="margin-left: 16pt;">АЗ:</p><p>
    за последно, мила, тръгвам сам по този път.<br>
    от срам във твойта сянка мърка глупаво лъвът.<br>
    глезените ти прекършени на портрет:<br>
    в стаята ми внасят мнимо свой перверзен ред.</p><p style="margin-left: 16pt;">
    ТИ:</p><p>
    гнила пикоч в ноздрите ми бие откачено.<br>
    във вашите лайна лежи моето щастие извратено/развалено.<br>
    сенки на работници се влачат нездоволени.<br>
    бели плъхове обесени плачат, висейки на моите вени.</p><p style="margin-left: 16pt;">
    АЗ:</p><p>
    нима седиш сама в света?<br>
    нима гориш една във мечта?<br>
    нима си единствена?!</p><p style="margin-left: 16pt;">
    ТИ:</p><p>
    без срам боля в един глупак.<br>
    без срам ще те убия пак.<br>
    аз съм единствена!</p>
    <p style="margin-left: 16pt; color: #ccaa26 !important;"><a style="color: rgb(204, 170, 38) ! important;" href="http://adam.inbulgaria.org/zhst/zhs-vh1.mp3">изтегли песента</a></p>
    <br>
    </div>


    <h3>3. <a href="javascript:;" onmousedown="toggleDiv('vechnost');" name="vechnost">вечност</a></h3>
    <div style="display: none;" class="coll" id="vechnost">
    <p>параход с рога<br>
    лети към мен сега.<br>
    и този капитан е сам.</p><p>
    чукат вечността <br>
    ядосани вълните,<br>
    че дар е лудостта на пяната.</p><p>
    чайките дебели<br>
    разгоненият гларус<br>
    притисна и уцели, за жалост.</p><p>
    роди се в жълта пяна<br>
    къс месо, свойта смяна<br>
    пое без ропот капитана.</p><p>
    пови го в пелените -<br>
    платна със кръв пропити,<br>
    защото тъй се ражда капитан.</p><p style="margin-left: 16pt;">
    ти ще бъдеш капитан, мой малък къс месо,<br>
    ти ще бъдеш вечно сам, мой малък къс месо.</p><p>
    след триста века цели<br>
    чайките дебели <br>
    родиха в жълта пяна тебе.</p><p>
    след триста века цели<br>
    чайките дебели <br>
    родиха в кръв червена мене.</p>
    <p style="margin-left: 16pt;">ти ще бъдеш капитан, мой малък къс месо,<br>
    ти ще бъдеш вечно сам, мой малък къс месо.<br>
    ти ще летиш с парахода към мен, към мен,<br>
    от вечност сляпа осакатен.</p>
    <br>
    </div>


    <h3>4. <a href="javascript:;" onmousedown="toggleDiv('vyzdejstvie');" name="vyzdejstvie">въздействие</a></h3>
    <div style="display: none;" class="coll" id="vyzdejstvie"><p>

    <p>тъмен човек със тъмни очила,<br />
    затворен в лъжата на три огледала,<br />
    милион светове по пътя ми пося,<br />
    отдръпна се и рече: „завинаги”.</p>

    <p>един кавалер беси с очи<br />
    по жиците гълъби и тъпо мълчи.<br />
    питам го: „братко, не ги ли боли?”<br />
    - първият път, любима, всички ги боли.<br />
    първият път, любима, и теб ще те боли.</p>

    <p style="margin-left: 16pt;">ела в полите на мойта планина,<br />
    с тебе двама ще открием любовта.<br />
    ти &ndash; в чаршафите ми окървавени,<br />
    а аз във твоите проблеми</p>

    <p>една бюлетина ме гледа партийно,<br />
    претърсвайки ме за своя цвят.<br />
    глупачка! ти си безкрака ИЗМИСЛИЦА!<br />
    прозрачна родена съм в ИСТИНСКИ свят.</p>

    <p>а днес мозъкът ми е отвърнат<br />
    от вашия свят на слабини.<br />
    свойте вени аз превърнах<br />
    в канал отводен за загубени дни.</p>

    <p style="margin-left: 16pt;">дай си ръката с отбелязана дата<br />
    да усетя как с пулсираща кръв<br />
    ще затвориш клепачите ми, щом мойта дата<br />
    ме целуне. целуни ме пръв.</p>

    <br></div>


    <h3>5. <a href="javascript:;" onmousedown="toggleDiv('ogledalna');" name="ogledalna">огледална</a></h3>
    <div style="display: none;" class="coll" id="ogledalna">
    <p>позната къща със розови жени,<br>
    които освежават празните ни дни.<br>
    ти не си една от тях, нали?<br>
    защото си сама, прободена от моите стрели...</p><p style="margin-left: 16pt;">
    кръвта ли те сърби...<br>
    всички твои приятели<br>
    са всъщност наематели.</p><p>
    плътта ти храни дълго хиляди мъже.<br>
    медалът ти е ъгъл с примамливо въже.<br>
    сълзите ти са сила, в която аз видях<br>
    измама и насила татуиран смях.</p><p style="margin-left: 16pt;">
    но това не е проблем,<br>
    щом със всеки смачкан ден<br>
    всики наематели<br>
    са верните ти приятели,<br>
    са мечтаният обяд<br>
    на безмерния ти глад.</p><p style="margin-left: 16pt;">
    но ти не си забравена,<br>
    вплетена във мене.<br>
    с правда си прокажена.<br>
    въжето не е бреме.</p>
    <br>
    </div>


    <h3>6. <a href="javascript:;" onmousedown="toggleDiv('10');" name="10">охлюв по стръмното</a><div id="player_ohliuv" class=player>&nbsp;</div>
    <script type="text/javascript">
    AudioPlayer.embed("player_ohliuv", {soundFile: "http://adam.inbulgaria.org/zhst/zhs-ohliuv.mp3", titles:"охлюв по стръмното", artists: "жълти стъкла"});
    </script></h3>
    <div style="display: none;" class="coll" id="10"><p>
    <span style="font-weight: normal; font-style: italic; display: block; padding: 0 16pt 12pt">началото е морзов код, макар и с неправилни дължини на сигналите.</span>
    думите ми от вашия скенер избягали изядени.<br>
    жалък охлюв е вашето време, крила не са му дадени.</p>

    <p>спи, мой малък ембрион, твой ще бъде и този<br>
    карнавален гарнизон от жълто-бели дози.</p>

    <p>мъртвородни метадонни мечти от сринат замък,<br>
    който ти, касандра, мила, не спаси от бесен пламък.</p>

    <p>„с тебе май сме само двама”, но ти не си със мене.<br>
    заключена и брава няма вратата вътре в мене.</p>

    <p style="margin-left: 16pt;">ако събереш пеперудите от всички страни<br>
    ще получиш аквариум от революции</p>

    <p style="margin-left: 16pt;">ако събереш революциите от всички страни<br>
    ще получиш поле от мъртви пеперуди</p>

    <p style="margin-left: 16pt; color: #ccaa26 !important"><a style="color: rgb(204, 170, 38) ! important;" href="http://adam.inbulgaria.org/zhst/zhs-ohliuv.mp3">изтегли песента</a></p>
    <br></div>


    <h3>7. <a href="javascript:;" onmousedown="toggleDiv('obicham');" name="obicham">обичам мене</a></h3>
    <div style="display: none;" class="coll" id="obicham"><p>
    обичам да мълча и в клоните съм скрила,<br>
    че не мога да летя, че нямам вече сила.<br>
    обичам и да летя, но ти не си способен<br>
    да ме държиш във шепи от лъжа през прозореца отворен.</p>

    <p style="margin-left: 16pt;">аз ще те свия във мен<br>
    аз ще те свия във мен<br>
    осакатен</p>

    <p>денят започнал е, но аз не се събуждам,<br>
    а щом към края е, ставам да мърсувам.<br>
    обичам и да летя, но ти не си способен<br>
    да ме държиш във шепи от лъжа през прозореца отворен.</p>

    <p style="margin-left: 16pt;">но аз ще те свия във мен<br>
    аз ще те свия във мен<br>
    осакатен</p>
    <br></div>


    <h3>8. <a href="javascript:;" onmousedown="toggleDiv('blokyt');" name="blokyt">блокът</a></h3>
    <div style="display: none;" class="coll" id="blokyt">
    <p>усмихвам се на своите крака - <br>
    кули от бетон и скука,<br>
    които твоята потна ръка<br>
    беляза с груба цветна поука.</p><p>
    птиците са ми другари,<br>
    макар че цапат мойта сива плът.<br>
    нощем в мен сънува кошмари,<br>
    и поти се и плаче и множи се светът.</p><p>
    моята кръв тече по черните ви жици,<br>
    но на вас какво ви пука от това.<br>
    ние сме само разкъсани скици,<br>
    архитектурен план на вашта самота.</p>
    <br>
    </div>


    <h3>9. <a href="javascript:;" onmousedown="toggleDiv('12');" name="12">бяло</a><div id="player_byalo" style="vertical-align:middle">&nbsp;</div>
    <script type="text/javascript">
    AudioPlayer.embed("player_byalo", {soundFile: "http://adam.inbulgaria.org/zhst/zhs-byalo.mp3", titles:"бяло", artists: "жълти стъкла"});
    </script></h3>
    <div style="display: none;" class="coll" id="12"><p>
    бели охлюви напускат сградата<br>
    щом влезе скоростта.<br>
    <span style="margin-left: 16pt;">/от срам/</span><br>
    бели мишки със бели скромни пишки<br>
    придружават бедността.<br>
    <span style="margin-left: 16pt;">/от глад/</span></p>

    <p>бялата ти женска гръд от моята ръждива плът<br>
    изсмука страстта.<br>
    <span style="margin-left: 16pt;">/от глад/</span><br>
    плъх, затворен от първичността,<br>
    отровен е от течността под твоята пола.<br>
    <span style="margin-left: 16pt;">/от срам/</span></p>

    <p>пак прекърши твоят мицел <br>
    моят малък дървен прът.<br>
    съвестта ти е на прицел <br>
    щом моралите заспят.<br>
    излизат за купонче хляб<br>
    хлебарки - черна бригада -<br>
    от дупка на китара,<br>
    която е за теб сексуална наслада. </p>

    <p span="" style="margin-left: 16pt;">/от любов/</p>

    <p>тя заспала в моята стая.<br>
    тя заспала без да зная.<br>
    тя заключила вратата.<br>
    тя съблякла е кревата.<br>
    и запалила колата,<br>
    тя зaпочнала играта<br>
    <span style="margin-left: 16pt;">на живот.</span><br>
    <span style="margin-left: 24pt;">на срам,</span><br>
    <span style="margin-left: 32pt;">на глад,</span><br>
    <span style="margin-left: 40pt;">на любов.</span></p>

    <p style="margin-left: 16pt;"><a style="color: rgb(204, 170, 38) ! important;" href="http://adam.inbulgaria.org/zhst/zhs-byalo.mp3">изтегли песента</a></p>
    <br></div>

    <h3>10. <a href="javascript:;" onmousedown="toggleDiv('bokluk');" name="bokluk">боклук</a></h3>
    <div style="display: none;" class="coll" id="bokluk"><p>
    карам бавно своя велосипед<br>
    по площада, покрай старец със тромпет,<br>
    гълъби по навик се редят:<br>
    познавали доброто, твърдят.</p>

    <p>забивайки бастунчето в пръстта,<br>
    отива си без "сбогом" младостта.<br>
    няма нужда от спор, няма нужда от шега,<br>
    затваря се последната врата.<br>
    ние двама ще погледаме оттук<br>
    най-безценния полужив боклук.<br>
    който на живота се засмя,<br>
    когото удуши животът-змия.</p>
    <br></div>


    </td>
    <td style="vertical-align: top;">


    <h3>1. <a href="javascript:;" onmousedown="toggleDiv('tq');" name="tq">тя на мишо</a><div id="player_tq" class=player>&nbsp;</div>
    <script type="text/javascript">
    AudioPlayer.embed("player_tq", {soundFile: "http://adam.inbulgaria.org/zhst/zhs-tqnami6o.mp3", titles:"тя на мишо", artists: "жълти стъкла"});
    </script></h3>
    <div style="display: none;" class="coll" id="tq"><p>
    златен празник е скръбта.<br>
    един живот загубен смешно.<br>
    и цигарата в пръстта<br>
    гори без огън нашта грешка.</p>

    <p>а под гроба всички спят,<br>
    червеи сляпо се сношават<br>
    вътре в празния й свят,<br>
    вътре в черепа й шават.</p>

    <p>и да ръгаш всеки ден с челичени лакти,<br>
    и да мачкаш всеки ден с гумена съвест,<br>
    знай, ще те скрие с перде - катаракти<br>
    и без милост ще те смила светът едрозъбест.</p>

    <p>ние двама с теб ще бдим<br>
    разтворената и утроба <br>
    да не глътне нито дим,<br>
    нито чаша хорска злоба.</p>
    <br></div>

    <h3>2. <a href="javascript:;" onmousedown="toggleDiv('13');" name="13">капризна</a></h3>
    <div style="display: none;" class="coll" id="13"><p>
    днес се търкаля в пръстта<br>
    без глава младостта.</p>

    <p>днес се търкаля в пръстта<br>
    без ръце старостта.</p>

    <p>възстановяваме гладкостта на бетонни моралности.<br>
    къртим, пробиваме човешки сърца.<br>
    ремонтни дейности по всички специалности.<br>
    в отплата ще вземем само вашите лица.</p>

    <p>аз живея в този малък скучен свят<br>
    на гълъби и нощни пеперуди.<br>
    гълъбите всяка вечер се редят<br>
    за купонче със наличните пеперуди.</p>
    <br></div>

    <h3>3. <a href="javascript:;" onmousedown="toggleDiv('o');" name="o">защо</a></h3>
    <div style="display: none;" class="coll" id="o"><p>
    - защо на тъмно не виждат очите?<br>
    <span style="margin-left: 16pt;">- защото тъмното няма лица.</span><br>
    - защо на тъмно умират мечтите?<br>
    <span style="margin-left: 16pt;">- защото на тъмно се правят деца.</span></p>

    <p>- защо всяка сутрин изхвърляш боклука,<br>
    прибиран от вчера грижливо в чувал.<br>
    защо в огледало не видиш боклука,<br>
    цял един живот изял и заспал.</p>

    <p>защо всички вие ме гледате лошо?<br>
    <span style="margin-left: 16pt;">- защото децата носят тъга.</span><br>
    - защото светът ви е изродче пошло!<br>
    и само смъртта ви подава ръка!</p>
    <br></div>


    <h3>4. <a href="javascript:;" onmousedown="toggleDiv('angeli');" name="angeli">ангели</a></h3>
    <div style="display: none;" class="coll" id="angeli">
    <p>ние ще слезем на Земята,<br />
    ще я погалим между краката,<br />
    ще я целунем във устата<br />
    и ще и откъснеме главата.</p>

    <p style="margin-left:16pt">ние сме ангели, ние ще вземем<br />
    останките от вашия живот неживян.</p>

    <p>този жребий изисква зарче<br />
    от търбуха на каканарче.<br />
    този жребий, изплют от Съдбата,<br />
    с този жребий започваме Играта:</p>

    <p>хвърляй "шест", Земя, за потоп,<br />
    хвърляй "пет" за черна чума,<br />
    хвърляй "четири" и ще бъдеш роб,<br />
    а откупът е грозна сума.<br />
    хвърляй "три", Земя, за полов акт<br />
    с твойте нежни девствени картини.<br />
    хвърляй "две" и ще подложиш врат<br />
    под белите ни гилотини ...</p>

    <p style="margin-left:16pt">ние сме ангели, ние ще вземем<br />
    останките от вашия живот неживян.<br />
    и "едно" не е вашият шанс - <br />
    черната точка поглъща всеки спасителен нюанс.</p>

    <p style="margin-left:16pt">но, но, но ние сме ангели
    и нашите зарове са чисто бели ...
    нашите зарове са чисто бели.</p>
    <br></div>


    <h3>5. <a href="javascript:;" onmousedown="toggleDiv('nasyn');" name="nasyn">насън</a></h3>
    <div style="display: none;" class="coll" id="nasyn"><p>
    </p><p>аз чаках. моят път<br>
    да срещне твойта каравана<br>
    и заедно да се сношат<br>
    във гаражите на храма.</p>
    <p>сирената врещи<br>
    за следобедния чай с надежда.<br>
    във дома с мечти без бащи<br>
    супа с вяра любовта прецежда</p>
    <p>вън сирената врещи,<br>
    давейки се в океан от скука.<br>
    сега на дъното лъщи<br>
    смачкан черепът й без перука.</p>
    <p style="margin-left: 16pt;">съм загубил всички свои хора.<br>
    студът ме топли всяка мокра вечер.<br>
    прегръщат ме стените на затвора.<br>
    и светът залязва някъде далече.</p>
    <p style="margin-left: 16pt;">прозорецът покрих с парцал от кожа:<br>
    светлината е душевно болна,<br>
    щом закача се с кръвта по ножа.<br>
    и покрила с брадавици сладкия грях,<br>
    ляга си доволна.</p>
    <p>аз не чакам. моят път<br>
    няма нужда от каравана:<br>
    спомените ми ще изкълват<br>
    накацалите химери по храма.</p>
    <p>спомен с теб в самотен ден<br>
    е спасен от теб самия.<br>
    с близост в кутия, в жълта хартия,<br>
    аз ще пръскам лиги по твоята шия<br>
    насън.</p>

    <div style="position: relative; margin-left: -25%; background-color: #000; z-index: 26; padding: 4px; font-size: 90%; white-space: pre-line; width: 150%; font-style: italic;">Казват, човек се измервал по мечтите си.
    Хората не се мерят, пишките се мерят. Но и без тва горното е недоразвито грешно.
    Мечта е всичко, което вие знаете за нея. То е вярно.
    Но вие не се замисляте, че щом мечта е романтична измислица,
    и щом измислица е романтичен копнеж,
    и щом копнежите възникват у всекиго от представата му за света,
    и щом представата ни за света в даден момент е производна на спомена ни за него,
    то тогава мечта е под господството на спомен.
    То тогава мечта е кристален пластелин в жълтата кутия със спомени.

    Тва означава, че където и да сте по кордата на вашите съдби,
    ако се научите да цените, подреждате, почиствате, управлявате кутията със спомени,
    значи имате под краката си не поредната заплашително изтъняла нишка,
    а бетонен път.
    Значи имате всички и всичко, което мозъкът ви може и не може да моделира.
    Също както насън.</div>
    </div>


    <h3>6. <a href="javascript:;" onmousedown="toggleDiv('18');" name="18">18-а</a></h3>
    <div style="display: none;" class="coll" id="18"><p>
    и, забучила иглата<br>
    във ръката на съдбата,<br>
    каза:<br>
    да, ще лапна твоето дуло.<br>
    да, ще бъда в неделя със було.<br>
    две глави с любов се споглеждат.<br>
    в компот от съдби две глави се оглеждат.<br>
    две върби ще ям на закуска<br>
    под гроба ми щом корени пускат.<br>
    а смъртта във снимка студена<br>
    заснела живота. тя ви го взема.<br>
    и дъгата в негатив<br>
    е арка безцветна, е сив коректив,<br>
    под който ще минем дори и без брак -<br>
    пътят е път и без пътния знак.</p>
    <br></div>


    <h3>7. <a href="javascript:;" onmousedown="toggleDiv('jsii');" name="jsii">жълти стъкла II</a>
    <div id="player_jsii" style="vertical-align:middle">&nbsp;</div></h3>
    <script type="text/javascript">
    AudioPlayer.embed("player_jsii", {soundFile: "mp3/жълти стъкла - жълти стъкла II.mp3", titles:"жълти стъкла II", artists: "жълти стъкла"});</script>
    <div style="display: none;" class="coll" id="jsii"><p>
    </p><p>ние:<br>
    черви се виновен, разгонен, прогонен<br>
    залезът забранен.<br>
    лежиме със тебе двамата голи<br>
    на гарата мъртви с живот отменен.</p>
    <p>аз:<br>
    помня бях ранен кристал,<br>
    сгушен във сърце от камък.<br>
    ти не беше още ял<br>
    камък, заразен със пламък.</p>
    <p style="margin-left: 16pt;">гледахме началото,<br>
    седнали на края.<br>
    басът беше тялото ми.<br>
    изгарях да играя</p>
    <p style="margin-left: 16pt;">плачехме за началото,<br>
    седнали на края.<br>
    изгоря полето, черно-бялото,<br>
    падна в мат и царят ми.</p>
    <p>ти:<br>
    и без виза, сто каприза<br>
    за твоята близост аз облизах<br>
    и сега във болнична риза<br>
    вечности на пръст нанизвам.</p>
    <p style="margin-left: 16pt;">оглеждам се за края<br>
    седнал във началото,<br>
    няма да играя с тебе, мила моя,<br>
    аз ще спя с одеялото!</p>
    <p style="margin-left: 16pt;">оглеждам се за края<br>
    седнал във началото,<br>
    аз не мога да мечтая, мила моя,<br>
    аз съм част от цялото<br>
    жълто стъкло</p>
    <p>ние:<br>
    черви се виновен, разгонен, прогонен<br>
    залезът забранен.<br>
    лежиме със тебе двамата голи<br>
    на гарата мъртви с живот отменен.</p>
    <p></p>
    <br></div>


    <h3>8. <a href="javascript:;" onmousedown="toggleDiv('zaraza');" name="zaraza">зараза</a><div id="player_zaraza" style="vertical-align:middle">&nbsp;</div>
    <script type="text/javascript">
    AudioPlayer.embed("player_zaraza", {soundFile: "http://adam.inbulgaria.org/zhst/zhs-zaraza.mp3", titles:"зараза", artists: "жълти стъкла"});
    </script></h3>
    <div style="display: none;" class="coll" id="zaraza">
    <p><i>Гласът:</i><br>
    завърта се решетката,<br>
    щом ти омръзне гледката.<br>
    не чукай по решетката! -<br>
    капризът сменя гледката</p>
    <p><i>Аз:</i><br>
    "не чукай по решетката!" - <br>
    капризът сменял гледката<br>
    аз ще захапя гледката,<br>
    за да строша решетката</p>
    <p>срутени сутрини заравям по изгрев<br>
    с лопатка във пясъка след нощния прилив<br>
    на страст без стволове,<br>
    <span style="margin-left: 16pt">на страх без корени,</span><br>
    <span style="margin-left: 32pt">щом ръцете ти - клоните -</span><br>
    вчесаха милионите<br>
    ми капризи.</p>
    <p>немощни нощи скопявам със ножче -<br>
    те ненужни слугуват на спомена още.</p>
    <p><i>Споменът:</i><br>
    те ще се пипнат и спинът проникнал<br>
    ще каже на всички: "здравей!",<br>
    малко остава, но ти притежаваш<br>
    във себе си края.</p>
    <p>аз отвърнах: "здравей".</p>
    <p><i>Споменът:</i><br>
    старата чума, облечена в дума<br>
    усмихва се с жълти очи.<br>
    но, забила кинжала, тя топли те с шала<br>
    на последните женски лъчи.</p>
    <p><i>Аз:</i><br>
    неприбрало лъжите в бельото с пагони<br>
    заразно войниче. Зората го прогони.<br>
    то тича с паважа<br>
    и пръска проказа<br>
    а аз нямам нужда вече от стража -<br>
    с лопатка зарових Затвора.<br>
    на плажа.</p>
    <br></div>


    <h3>9. <a href="javascript:;" onmousedown="toggleDiv('prispivna');" name="prispivna">приспивна</a></h3>
    <div style="display: none; white-space: pre-line" class="coll" id="prispivna">- о, хайде, мила, погледни небето.
    - не мога, там пречи някакъв таван.
    - ние с тебе ще родим детето,
    което, аз зная, ще стигне дотам.

    някой шумно пред него врата ще затвори,
    но с дървена шпага, знам, то ще пребори
    хилядна войска от самота, както ти не можа.

    някой шумно пред него врата ще затвори,
    но с шест струни, знам, то ще пребори
    стоманена войска от страх, както аз не можах.
    </div>


    <h3>10. <a href="javascript:;" onmousedown="toggleDiv('22');" name="22">обети</a><div id="player_obeti" style="vertical-align:middle">&nbsp;</div>
    <script type="text/javascript">
    AudioPlayer.embed("player_obeti", {soundFile: "http://adam.inbulgaria.org/zhst/zhs-obeti.mp3", titles:"обети", artists: "жълти стъкла"});
    </script></h3>
    <div style="display: none;" class="coll" id="22">
    <p>стръкче восък в нас расте,<br>
    тамянен полъх ни зове -<br>
    настъпвам пак своите стъпки.</p>

    <p>прегръщам букет, вървейки напред,<br>
    заравям носа си в него, в младежките пъпки.</p>

    <p>за хуманна Хумана ламти пак моят глад,<br>
    а да изправя не мога своя жалък бебешки врат.</p>

    <p>плешивото теме на плешивото племе<br>
    е плашило за всички със достатъчно време<br>
    до смъртта.</p>

    <p><i>Смъртта:</i><br>
    ще те побутна леко със своята щека<br>
    и ще поплачеш ти - любовта не е мека.<br>
    ще се венчаем двама под моята щека<br>
    и ще поплача аз, че Бог ми е свекър.</p>

    <p><i>Аз отговарям:</i><br>
    о, хайде, мила, ти ще решиш<br>
    вместо мен, вместо мене ти ще сгрешиш<br>
    а дотогава ще се любя със безвкусните миди.<br>
    о, хайде, мила, ти ще решиш<br>
    вместо мен, вместо мене ти ще сгрешиш<br>
    а дотогава ще съм пъпка,<br>
    ще съм бебе,<br>
    ще съм луд,<br>
    ще съм старец,<br>
    ще съм малък грозен червей,<br>
    но ще обичам народа си - човешките гниди!<br>
    но ще дишам с народа си - с човешките гниди!</p>
    <p style="margin-left: 16pt; color: #ccaa26 !important;"><a style="color: rgb(204, 170, 38) ! important;" href="http://adam.inbulgaria.org/zhst/zhs-obeti.mp3">изтегли песента</a></p>
    <br></div>


    <h3>11. <a href="javascript:;" onmousedown="toggleDiv('Predikraq');" name="Predikraq">преди края</a></h3>
    <div style="display: none;" class="coll" id="Predikraq">
    <p>I. Настъпъните мравки не танцуват,<br>
    но смъртоносните крака играят често мръсен танц.<br>
    НастъпЪните хора не танцуват,<br>
    но във яда си мачкат често мравешкия невидим танц.<br>
    </p>

    <p>И само тя, канализацията, ви свързва.<br>
    И само тя е безплатна чужда топлина<br>
    дори когато той, прецъфтелият свят, ви омръзва,<br>
    дори когато той е страстна, но властна жена.<br></p>

    <p>II. Новородена промяна подхвърлям. И след малко<br>
    в хилядолетната яма я зървам. Изцедена. И жалко.<br></p>

    <p>III. Аз обичам, но вече не искам. Аз тръгвам.<br>
    след алена струйка замислен изтичам.  <br>
    Аз обичам, но аз вече не искам да танцувам.<br>
    Този танц е всъщност безснислен.<br>
    Този танц е всъщност безсмислен.<br></p>

    <p>И само на нея, всемогъща смирена сирена, ще позирам.<br>
    Тя последната снимка заснема...<br>
    КРАЛИЛИЦАТА на заблудите на лудите,<br>
    въоръжена само с името си &ndash; Смърт.<br>
    Поднася ми оръжието &ndash; името си. Смърт.<br>
    Поднася ми заслуженото &ndash; името си. Смърт.<br></p>

    <p>Този танц е всъщност безсмислен.</p><br></div>

    </td>

    <td style="vertical-align: top;">

    <h3>1. <a href="javascript:;" onmousedown="toggleDiv('moyatpyt');" name="moyatpyt">моят път</a></h3>
    <div style="display: none;" class="coll" id="moyatpyt">
    <p>с конците зашивам кървави рани<br />
    в шосето, което с безпътни се храни.<br />
    тротоарите гърбави тихо ме следват,<br />
    завоите ръбъви в Пътя изследват.</p>

    <p>до мене често скача изящна сребърна газела,<br />
    щом хищникът я смачка, тя е мъртва мантинела.</p>

    <p>дали микробите под микроскопите целуват<br />
    бременни микробки по надутите кореми преди края?</p>

    <p>и микробите по дланите ви скачат,<br />
    под ноктите се любят, в микроскопите ви плачат.</p>

    <p>и от книгите всеки Път извличам,<br />
    въвличам в моето шосе.</p>

    <p>аз уважавам възрастта ви, любовта ви,<br />
    страстите, плътта ви и вашето шосе.<br />
    моля уважете възрастта ми, любовта ми,<br />
    страстите, плътта ми и моето шосе.</p>
    <p style="font-style:italic;margin-left:16pt">микробите:</p>
    <p>моля уважете възрастта ни, любовта ни,<br />
    страстите, плътта ни и нашето шосе.<br />
    и плътта си - тя е нашето шосе.</p>
    </div>


    <h3>2. <a href="javascript:;" onmousedown="toggleDiv('libe');" name="libe">две слънца</a></h3>
    <div style="display: none; white-space: pre-line" class="coll" id="libe">ние сме погълнали две слънца - моето и твоето либе.
    ние сме погълнали две лица - на моето и твоето либе.
    ние сме погълнали две сърца - на моето и на твоето либе.

    и сега седим на прозореца, чакаме моето и твоето либе
    да изгрее в небето като цяла луна. моето и твоето либе.
    да поплаче от маска от мъртва светлина.
    да забие в очите ни брошка от вечна студенина.

    аз търся прошка, ти търсиш прошка.
    но ето, че сме слепи - имаме си брошка.

    защото ние сме погълнали две слънца - моето и твоето либе...
    </div>


    <h3>3. <a href="javascript:;" onmousedown="toggleDiv('kluchar');" name="kluchar">ключар</a></h3>
    <div style="display: none;" class="coll" id="kluchar">
    <p>черният ключар заспал,<br />
    стискайки в ръце<br />
    скован от студ ключа си стар<br />
    и своето сърце.</p>

    <p>със сърцето бе създал<br />
    ключ са всички светове.<br />
    със ключа си бе създал<br />
    едно изсъхнало дете.</p>

    <p>всеки ключ бе позлатил <br />
    с диамант "живот".<br />
    а Животът бе платил<br />
    с диамантен гроб.</p>

    <p>всеки ключ сам инкрустира<br />
    с парче сърдечен пламък.<br />
    и сърцето му мутира<br />
    в тежък безполезен камък.</p>

    <p>и ковчегът зад вратата<br />
    чака своя катинар<br />
    без ключалка - под земята<br />
    вечността е господар.</p>

    <p>аз съм в ъгъл закачена вещ -<br />
    съвсем изсъхнало дете.<br />
    и не за тебе ще запаля свещ,<br />
    а за хилядите светове.</p>
    <br></div>


    <h3>4. <a href="javascript:;" onmousedown="toggleDiv('intimnaistina');" name="intimnaistina">интимна истина</a><div id="player_intimnaistina" style="vertical-align:middle">&nbsp;</div>
    <script type="text/javascript">
    AudioPlayer.embed("player_intimnaistina", {soundFile: "http://adam.inbulgaria.org/zhst/zhs-istina.mp3", titles:"интимна истина", artists: "жълти стъкла"});
    </script></h3>
    <div style="display: none;" class="coll" id="intimnaistina">
    <p>стените на този дом,<br />
    във който съм излишен всъщност,<br />
    са само бял корав балон,<br />
    по който лудостта ми стърже.</p>

    <p>тук фениксът безстрашен плаче<br />
    пред часовника неумолим.<br />
    и стройните стрелки-палачи<br />
    превръщат вечността му в дим.</p>

    <p style="margin-left:16pt">аз не искам, аз не мога да си тръгна оттук.<br />
    аз не искам, аз не мога - аз съм тук и ти си тук.</p>

    <p>зад решетките пристъпям плахо.<br />
    "Свидетел втори, излезте напред!"<br />
    Истината побесняла ми маха,<br />
    тя ми е жертва, но идва моят ред:</p>

    <p style="margin-left:16pt">аз не искам, аз не мога да си тръгна оттук.<br />
    аз не искам, аз не мога да изхвърля стария боклук.<br />
    аз не искам, аз не мога да си тръгна оттук.<br />
    аз не искам, аз не мога - вън от тук ти ставаш друг, аз ставам друга.</p>

    <p style="margin-left:16pt">аз не искам, макар да лъжа, че не мога.<br />
    аз не искам - вън от тук ти ставаш друг, аз ставам друга.</p>

    <p style="margin-left:16pt">истината вреди сериозно на вас и на другите около вас.</p>
    </div>


    <h3>5. <a href="javascript:;" onmousedown="toggleDiv('dulost');" name="dulost">дулост</a><div id="player_dulost" class=player>&nbsp;</div></h3>
    <script type="text/javascript">
    AudioPlayer.embed("player_dulost", {soundFile: "http://adam.inbulgaria.org/zhst/zhs-dulost.mp3", titles:"дулост", artists: "жълти стъкла"});
    </script>
    <div style="display: none;" class="coll" id="dulost">
    <p>расте, расте в мен моята Царица.<br />
    във мен расте без план и без скица ...</p>

    <p>от томболата аз ще получа време, знам.<br />
    ще и го дам, Тя дали ще го вземе?</p>

    <p>отварям очи а в ръката ми спи и бълнува трак-трака часовник.<br />
    отварям очи а Тя още шепти: "няма време..."</p>

    <p>ето го, вземай го с кошници, с хлипове,<br />
    с крясъци, с тласъци, с бръчки и хрипове!<br />
    а Тя се отдръпва спокойна зад два обелиска.<br />
    а мене, а мене, а мен в бял чаршаф ме натикват.</p>

    <p>растат в главата ми два черни обелиска,<br />
    "отпусни се" ми казват "и Тя ще ти става все по-близка".</p>

    <p>а днес аз рисувам с тебешир във небето<br />
    своя кораб, в своя замък аз царувам, царувам<br /><br />
    с моята Царица.<br />
    и с два обелиска.<br />
    в санаториум със два обелиска.</p>
    <p style="margin-left: 16pt; color: #ccaa26 !important"><a style="color: rgb(204, 170, 38) ! important;" href="http://adam.inbulgaria.org/zhst/zhs-dulost.mp3">изтегли песента</a></p></div>


    <h3>6. <a href="javascript:;" onmousedown="toggleDiv('frau');" name="frau">фрау виагра, мосю неудачник</a><div id="player_frau" class=player>&nbsp;</div>
    <script type="text/javascript">
    AudioPlayer.embed("player_frau", {soundFile: "http://adam.inbulgaria.org/zhst/zhs-frau.mp3", titles:"фрау виагра мосю неудачник", artists: "жълти стъкла"});
    </script>
    </h3>
    <div style="display: none;" class="coll" id="frau"><p>

    <p>ТЯ: аз не съм от хората със дръжка.<br />
    аз съм от тези, дето със себе си кръшкат.<br />
    аз не съм от тези, дето пилеят<br />
    в бара усмивки - срещу цигари ги сменям.</p>

    <p>намигаш, намигаш, намигаш, амиго,<br />
    с конкретизиращ тик.<br />
    но не стига, не стига, не стига гориво - <br />
    нужен е катализиращ трик.</p>

    <p style="margin-left: 16pt;">ТОЙ: фрау, фрау, фрау Виагра ...</p>

    <p>аз пък съм от хората със дръжка:<br />
    без да пъшкам ключовете ви преглъщам.<br />
    аз пък съм от тези, дето пилеят<br />
    в бара цигари и да се усмихна не смея.</p>

    <p>в атака, в атака със два преплетени крака<br />
    влизам аз с перфорирана свян.<br />
    и не чака, не чака нагонът не чака, ала<br />
    зазидан е семепожарният кран.</p>

    <p>в атака, в атака със два преплетени крака<br />
    влизам аз с перфорирана свян.<br />
    и не чака, не чака нагонът не чака, ала<br />
    зазидан е семеотводният кран.</p>

    <p style="margin-left: 16pt;">ТЯ: мосю, мосю, мосю Неудачник ...<br />
    ТОЙ: фрау, фрау, фрау, фрау, фрау Виагра ... </p>

    <p style="margin-left: 16pt; color: #ccaa26 !important"><a style="color: rgb(204, 170, 38) ! important;" href="http://adam.inbulgaria.org/zhst/zhs-frau.mp3">изтегли песента</a></p>
    <br>
    </div>


    <h3>7. <a href="javascript:;" onmousedown="toggleDiv('spleten');" name="spleten">сплетен</a></h3>
    <div style="display: none; white-space: pre-line" class="coll" id="spleten"><i>аз:</i>
    грешни плетки за "здравей",
    фойерверки за "сбогом".
    сред контакти аз съм смел,
    а сам съм счупен щепсел.
    и празнотата се уморява от шумни празненства.
    и на празненствата им дотягат все усмихнати лица.
    дали боята по стените знае, че оцветява случен бетон?
    дали бетонът във стените знае, че го крием с оцветен петрол?

    <i>тя:</i>
    спри, спри!
    най-истински си със затворени очи.
    спри, спри!
    най-истински си в моите затворени очи.
    а сега ги отвори.

    <i>аз:</i>
    грешни плетки за "здравей",
    фойерверки за "сбогом".
    сред контакти пак съм смел,
    и пак съм сам и съм счупен щепсел.
    но вече цветното не ме привлича, знам как се съблича клоунският костюм:
    натрошени съчки в очите слой по слой избистрят смутения ми ум.

    <i>тя:</i>
    спри, спри!
    най-истински си със затворени очи.
    спри, спри!
    най-истински си в моите затворени очи.
    а сега ги отвори.
    </div>


    <h3>8. <a href="javascript:;" onmousedown="toggleDiv('myarka');" name="myarka">консумирай с мярка</a></h3>
    <div style="display: none; white-space: pre-line" class="coll" id="myarka">стъпвам леко, макар и бос,
    защото стъпвам по невидим мост.
    юмруци, пълни с цензурирана близост
    възпитават ни в любов.

    в детските спомени
    с броня желязна,
    но очите, вместо меча ни,
    отразяват родителка празна.

    златните колоси
    във златните пръстени
    играеха си на доноси
    с моя конструктор.

    поглеждах ги разбиращо,
    в ъгъла чаках скуката пронизваща
    да ми го върне, за да конструирам
    своя свят без колоси.

    чаках ги във кишата,
    чаках ги във нищото,
    чаках ги на улица "лъжа"
    номер "самота".

    чакам ги във кишата,
    чакам ги във нищото,
    чакам ги на улица "живот"
    със адрес "любов" №1.
    </div>


    <h3>9. <a href="javascript:;" onmousedown="toggleDiv('mora');" name="mora">мора</a>
    <div id="player_mora" class=player>&nbsp;</div></h3>
    <script type="text/javascript">
    AudioPlayer.embed("player_mora", {soundFile: "mp3/жълти стъкла - мора.mp3", titles: "мора", artists: "жълти стъкла"});
    </script>
    <div style="display: none; white-space: pre-line" class="coll" id="mora"><i>те:</i>
    въпросите, над които размишляваш, а
    въпросите, които са същността ти, теб,
    са въпросите, които само тя създава, а
    са въпросите, с които точно тя те удуши, теб.

    <i>но той:</i>
    лилавата барета си надянах, а
    и червения нос си закачих, от теб,
    и вече съм готов клоун да стана, а
    щом заключен съм в кутията ти, в теб.

    милион мухи досада ти правят, а
    милион мухи, знам, ще убиеш в теб,
    но милион мухи, знай, аз ще ти пращам, а
    и ще чакам една от тях да те съживи. теб.
  
    <p style="margin-left: 16pt; color: #ccaa26 !important"><a style="color: rgb(204, 170, 38) !important;" href="mp3/жълти стъкла - мора.mp3">изтегли песента</a></p>
    </div>

	<h3>10. <a href="javascript:;" onmousedown="toggleDiv('dve_jila');" name="dve_jila">две жила</a><div id="player_dve_jila" class=player>&nbsp;</div></h3>
    <script type="text/javascript">
    AudioPlayer.embed("player_dve_jila", {soundFile: "mp3/dvejila.mp3", titles: "две жила", artists: "жълти стъкла"});
    </script><div style="display: none; white-space: pre-line;" class="coll" id="dve_jila"><p>пусни, пусни си косата.
пусни се някога да се загубиш във гората.
пусни, пусни своя кокал
и ще получиш от живота бинокъл.
пусни, пусни светлината
да поиграе на ластик с правилата.
пусни, пусни се да паднеш
от кулата на суетата.

-- Смучи живот от моите жили! -- тя ужили. и той ужили:
-- Вържи ме - роб на твоите грижи! -- той ужили. и тя ужили:
-- Пусни ме да си ида, мили... -- тя ужили и спря да жили.
-- Да те пусна даже нямам сили... -- той ужили и спря да жили.

и строшили се две жила изгнили.
той и тя дали са още живи без жила?
да, и без жило сме живи!
да, и той без жило е жив, е и тя
без жило е жива! без жило сме живи...
живи сме. живи сме.

пусни, пусни си косата.
пусни се някога да си загубил от играта.
пусни, пусни своя кокал
и ще получиш от живота бинокъл.
пусни, пусни светлината
да поиграе на ластик с правилата.
пусни, пусни се да паднеш...

пусни се.
<p style="margin-left: 16pt; color: #ccaa26 !important"><a style="color: rgb(204, 170, 38) !important;" href="mp3/zhs-dvejila.mp3">изтегли песента</a></p></div>

    <h3>11. <a href="javascript:;" onmousedown="toggleDiv('ostatyci');" name="ostatyci">остатъци</a>
    <div id="player_ostatyci" style="vertical-align:middle">&nbsp;</div></h3>
    <script type="text/javascript">
    AudioPlayer.embed("player_ostatyci", {soundFile: "mp3/жълти стъкла - остатъци.mp3", titles:"остатъци", artists: "жълти стъкла"});</script>
    <div style="display: none; white-space: pre-line" class="coll" id="ostatyci">
    нижа, нижа, каканижа
    свойта паяжинна грижа.
    с реверанси и поклони
    честват моите пагони.

    с надпис „марионетки” са всички истински поети.
    а във мрака опъват конците чудовищни силуети:
    „Изкривявай, с жар развращавай най-личното леговище &ndash;
    поет си &ndash; щом &ndash; ти ще превърнеш скоро
    и душата си в чудовище.”

    се разпадат на парцали
    декемврийски дидиви хали.
    те са красиви, но, те са красиви, но,
    глозгат изхабените ми стави.

    се разпадат на парцали
    декемврийски дидиви хали.
    безразборно аз се ровя
    в наи-интимните им кристали.

    <div style="margin-left: -16em;background:#000;position:relative;z-index:126">ако видиш търг и там продават с чукчето талант пробит с габърчета &mdash;
    Ей, залисан, пази се! &ndash; сто трамвайни мотриси се врязват в твойта консуматорска мисъл.
    </div>а техният ватман е моето чудовище. виж го &mdash;
    техният ватман има в сърцето си габърче.

    нижа, нижа, поет съм, нижа
    свойта поетична грижа.
    нижа, нижа, поет съм, нижа,
    а изчерпя ли се ще ми инжектират лъжа.
    </div>


    <h3>12. <a href="javascript:;" onmousedown="toggleDiv('setivata');" name="setivata">сетивата прекипели</a><div id="player_setivata" style="vertical-align:middle">&nbsp;</div>
    <script type="text/javascript">
    AudioPlayer.embed("player_setivata", {soundFile: "http://adam.inbulgaria.org/zhst/zhs-setivata.mp3", titles:"сетивата прекипели", artists: "жълти стъкла"});
    </script></h3>
    <div style="display: none;" class="coll" id="setivata"><i>1789</i>
    <p><b>чуй</b> как капките чупят нощта.<br />
    те са чужда (кап-кап) кардиограма.<br />
    <b>виж</b>, че в черните пръсти мощта<br />
    е от Болката и от Бога по-голяма.</p>

    <p><b>чуй</b> – зад завесата счукват съдба<br />
    и вече мъртва я хвърлят на барикадата.<br />
    <b>виж</b>, че челото е на гърба<br />
    с вериги вместу с на мисълта тиарата.</p>

    <p style="margin-left: 16pt;"><b>мирис</b> на тютюн, <b>мирис</b> на барут, но<br />
    без <b>мирис</b> на капка колебание.<br />
    <b>мирис</b> на мъже, жени, деца – горяща плът,<br />
    след последно дихание.</p>

    <p><b>допир</b> до Доплеров крив тунел<br />
    и предсмъртния писък обръща на песен.<br />
    в на вкоченените устни <b>вкуса</b> си се клел<br />
    и със спомен за Нея превръщаш се в плесен.</p>

    <p style="margin-left: 16pt;">мирис</b> на тютюн, <b>мирис</b> на барут, но<br />
    без <b>мирис</b> на капка разкаяние.<br />
    <b>мирис</b> на мъже, жени, деца – воняща плът,<br />
    без последно желание.</p>

    </div>


    </td>
    </tr>

    <tr style="text-align: left; font-size: 14px; vertical-align: top; font-weight: bold">
    <td style="width: 33%; padding: 30px 5px 5px; ">печат от картечар</td>
    <td style="width: 33%; padding: 30px 5px 5px; ">тонове от стонове</td>
    <td style="width: 33%; padding: 30px 5px 5px; "><div style="text-align:right;color:#aaa;font-size:10px">други песни на друг човек</div></td>
    </tr>
    <tr style="text-align: left; font-size: 10px; font-style: italic;">
    <td style="width: 33%; padding: 5px 5px 20px; ">2012-2013</td>
    <td style="width: 33%; padding: 5px 5px 20px; ">2013-2015</td>
    <td style="width: 33%; padding: 5px 5px 20px; text-align:right; vertical-align: bottom">***</td>
    </tr>

    <tr style="vertical-align:top">
    <td>
        
        <h3>1. <a href="javascript:;" onmousedown="toggleDiv('krygyt');" name="krygyt">кръгът</a></h3>
        <div style="display: none;" class="coll" id="krygyt">
            Кръгът<br>
            разтвори в млякото вчерашна луна<br>
            и инсталира в нас утрешна вина. <br>
            минаваш през вратата и, щом си отвъд, <br>
            Кръгът пред теб я мести, за да си на път. <br>
             
            и десет вентилатора, и ракла тамян, <br>
            не изгонват вонята на погребания срам.  <br>

            здраво стискаш в ръцете хляба си, нали — <br>
            от безоблачна нива с класове спокойни дни. <br>
            и ти минаваш през отлара, и щом си отвъд, <br>
            Кръгът повръща попара — тя е целият ти път. <br>
            Кръгът превръща в попара целия ти път.  <br>

            Във Кръга и Кръга държат и пазят вечността <br>
            шевните машини кърпят тиража на света. <br>
            Камбаните хапят безразлично опело, <br>
            а сълзите ти са смазка за зъбно колело.<br>
        </div>
        
        
        <h3>2. <a href="javascript:;" onmousedown="toggleDiv('pechat');" name="pechat">печат от картечар</a></h3>
        <div style="display: none;" class="coll" id="pechat">
            Дупка:<br>
            киша, която облича се, диша,<br>
            мирише на близост.<br>
            киша, в която само нощем аз пиша,<br>
            ме изтрива без милост.<br>
            киша, която се учи да срича,<br>
            а създава романи.<br>
            киша, която през себе си тича<br>
            с крака подковани.<br>
            киша с шарки посивели, за бога, за бога!<br>
            нима не търсиш близост, че мижаш и плуваш по гръб?!<br>
            <br>
            Киша:<br>
            не, с дланите, калните изравям в себе си бърлога<br>
            и под ноктите с траур слагам подпис, че ще плувам по гръб.<br>
            <br>
            не ти е нужна каскада от думи<br>
            срещу техния паж - тлъст хранителен кураж.<br>
            нужни са бланки със надпис "куршуми".<br>
            мини през моя хамбар - за печат от картечар.<br>
            <br>
            не са ти нужни и свещи с надежди<br>
            срещу техния страж - висящ на кръст мираж.<br>
            нужни са прежди за духовни одежди.<br>
            мини през моя олтар - за печат от картечар.<br>
            <br>
            не са ти нужни - изпилени са дните<br>
            със пила на празен ход, ръждясала с живот.<br>
            не ти е нужен и Паркът с иглите.<br>
            след груб шамар при моя фар ела да станеш картечар.<br>
            <br>
            Дупка: киша, която през рамо наднича,<br>
            а всъщност всичко знае!<br>
            Киша: дупка, която във себе си наднича,<br>
            а че е празна не знае!<br>
            <br>
            Дупка:<br>
            беше греда, но вечност след вечност с ренде се превърна <br>
            в разпалка, във треска!<br>
            Киша:<br>
            крепежна съдба! тежеше, сега се забивам дълбоко,<br>
            посегнеш ли с ръка!<br>
            <br>
            Дупка: зад светия пламък често мъждука тъмнина!<br>
            Киша: в неделя иди и запали свещ за храна!<br>
            Киша: сковах сама съндъка за своя купувач!<br>
            Дупка: но забрави в него чука, а купува те ковач!<br>
            <br>
            Киша:<br>
            киша съм, да, но изсъхвам смирена,<br>
            излекуван с картечен жар!<br>
            Дупка:<br>
            не, ти си само проста мишена,<br>
            а АЗ съм вече картечар!<br>
        </div>
        
        
        <h3>3. <a href="javascript:;" onmousedown="toggleDiv('luminal');" name="luminal">луминал</a>
        <div id="player_luminal" style="vertical-align:middle">&nbsp;</div></h3>
        <script type="text/javascript">
        AudioPlayer.embed("player_luminal", {soundFile: "mp3/жълти стъкла - луминал.mp3", titles:"луминал", artists: "жълти стъкла"});</script>
        <div style="display: none;" class="coll" id="luminal">
            *гестационни - седмици от износването на плода;<br>
            *луминал - ебати суровата дрога.<br>
            <br>
            дай й на заем половинка баланс —<br>
            вчера абортира своя жизнен шанс.<br>
            <br>
            здрача охранява сам слепият бухал -<br>
            митничар е и охрана за царство от мухъл.<br>
            <br>
            хей, луминисцирай във свят от хлад —<br>
            там ти си вечно красива, там ти си моят Пилат.<br>
            <br>
            хей, луминисцентке. във свят от хлад<br>
            за мухите е цедка твоят халат.<br>
            <br>
            първа, втора гестационна закачка -<br>
            в нея расте подарена играчка.<br>
            трета до пета гестационна глезана -<br>
            в нея расте насадена измама.<br>
            шеста до осма гестационна умора -<br>
            аварирай в края на коридора, мила.<br>
            и след сияен луминал в девета<br>
            Животът дефилира гол в дерето.<br>
            <br>
            а най-любопитна е тя - черната му кутия...<br>
            аутопсия... а няма и следа от мухъл аз да открия.<br>
            и най-любопитна е тя, черната му кутия.<br>
            влез в нея, но тихо, и тя твоя мухъл ще скрие.<br>
            <br>
            край с облога! - вписан си в кадастъра<br>
            на недвижимите хора, собственост на трипластен страх.<br>
        </div>
        
        
        <h3>4. <a href="javascript:;" onmousedown="toggleDiv('ne-moga');" name="ne-moga">не мога</a>
        <div id="player_ne-moga" style="vertical-align:middle">&nbsp;</div></h3>
        <script type="text/javascript">
        AudioPlayer.embed("player_ne-moga", {soundFile: "mp3/жълти стъкла - не мога (демо).mp3", titles:"не мога", artists: "жълти стъкла"});</script>
        <div style="display: none;" class="coll" id="ne-moga">
            аз си го поръчах на заем,<br>
            той ме вечно иска под наем.<br>
            аз му избождам очите,<br>
            той ми бърши сълзите.<br>
            <br>
            аз избягвам да танцувам<br>
            без цигара, без плюнки в китара,<br>
            без празни поляни и ръка над гръдта ми,<br>
            без стиснати устни по врата ти безвкусен,<br>
            без потните пръсти по инструмент обръснат.<br>
            аз избягвам да танцувам<br>
            без кривия говор, имитиращ стилът ми -<br>
            безполезния договор за таланта в ума ми.<br>
            <br>
            аз не те искам назаем,<br>
            аз давам всичко, без наем,<br>
            да не се заплитам без смисъл<br>
            в нишката между нас и косите.<br>
            <br>
            ти избягваш да танцуваш<br>
            без цигара, без плюнки по бара,<br>
            без вечерни проблеми и майтапи на смени -<br>
            те са безстрастните кораби в океана ти леден.<br>
            не разбираш - не си струва<br>
            правилен говор и подреденост в ума ти,<br>
            те са безполезния договор да се сраснеш с стила си.<br>
        </div>
        
        
        <h3>5. <a href="javascript:;" onmousedown="toggleDiv('plunki');" name="plunki">плюнки</a>
        <div id="player_plunki" style="vertical-align:middle">&nbsp;</div></h3>
        <script type="text/javascript">
        AudioPlayer.embed("player_plunki", {soundFile: "mp3/жълти стъкла - плюнки.mp3", titles:"плюнки", artists: "жълти стъкла"});</script>
        <div style="display: none;" class="coll" id="plunki">
            аз: <br>
            кво очакваш, малко недорасло недоразумение?!<br>
            да плюеш, викаш, хапеш е твоето умение!<br>
            всичко искаш, шумно пискаш, думи плискаш!<br>
            <br>
            той: <br>
            проблем ли е?!<br>
            всичко искам, а теб не искам, от тебе търся спасение!<br>
            <br>
            аз: <br>
            вътре, вътре, отвънка, вътре, вътре, отвънка,<br>
            вътре, вътре, отвънка, вътре, вътре, отзад! <br>
            вътре, вътре, издънка, вътре, вътре, издънка,<br>
            вътре, вътре, вътре, вътре, вътре, вътре, и пак!<br>
            <br>
            аз: давам най-ефектна, най-афектна, най-директна плесница!<br>
            той: най си сладка щом си жалка хваната в лъжа мръсница!<br>
            аз: скапан трактор, все се ровиш, все във чужда нива!<br>
            той:<br>
            скапвам се да ровя твоя плевел, тел бодлива!<br>
            скапвам се да ровя твоя троскот, тел влюбчива!<br>
            <br>
            аз: храбро мачкаш всяка мравка! малка справка - страхливец!<br>
            той: храбро мачкам всяка справка! поне се казвам Убиец!<br>
            <br>
            аз: остроумия беззъби със тризъбец в теб забивам!<br>
            а теб те няма, а ти си въздух. да те обичам не спирам...<br>
            <br>
            той:<br>
            вътре, вътре, отвънка, вътре, вътре, отвънка,<br>
            вътре, вътре, отвънка, вътре, вътре, отзад! <br>
            вътре ти си издънка, отвънка ти си издънка,<br>
            вътре, вътре, вътре, вътре, вътре, вътре, и пак!<br>
        </div>
        
        
        <h3>6. <a href="javascript:;" onmousedown="toggleDiv('ostani');" name="ostani">остани зад стени</a></h3>
        <div style="display: none;" class="coll" id="ostani">
            Тя:<br>
            имаш ли какво да кажеш, щом<br>
            значението няма смисъл?<br>
            и езикът ти е станал карцином<br>
            да лиже смисъла кисел.<br>
            <br>
            имаш ли си стока за пазара?<br>
            та ти пожъна реколта поблеми...<br>
            кво очакваш - пося в плътта зад бара<br>
            свойта рота риби неми.<br>
            <br>
            любовта сърдечно се ръкува <br>
            с безработните клапи.<br>
            многократно, без да се преструва,<br>
            свършва, цапайки се с майтапи.<br>
            <br>
            херувими сервират хероини -<br>
            те са менюто за вечеря.<br>
            имаш ли си порция причини?<br>
            ако не, ела грамаж ще ти измеря(т).<br>
            <br>
                Тя: остани, ще се примириш,<br>
                остави ме да те сложа да заспиш!<br>
                Той: остани и ще се убедиш,<br>
                че си мръсна! аз си тръгвам чист!<br>
                <br>
            Той:<br>
            думите изпрах във стихосбирка.<br>
            езикът ми е в меките корици.<br>
            наследява проблемите и цирка<br>
            ротата, макар да храня я с трохици.<br>
            <br>
            херувими схрусках на закуска.<br>
            изтръгвам иглата заедно с ръката.<br>
            любовта среднощно се изпуска -<br>
            ти ще чистиш, аз напускам играта!<br>
            ти ще чистиш, аз напускам играта!<br>
            <br>
                Тя: остани, ще се примириш,<br>
                остави ме да те сложа да заспиш!<br>
                Той: остани и ще се убедиш,<br>
                че си мръсна! аз си тръгвам чист!<br>
        </div>
        
        
        <h3>7. <a href="javascript:;" onmousedown="toggleDiv('yazva');" name="yazva">язва</a></h3>
        <div style="display: none;" class="coll" id="yazva">
            вий сте малка пешка,<br>
            вий сте груба грешка,<br>
            вий сте шумна смешка,<br>
            вий сте долна дрешка,<br>
            <br>
            вий сте малка скоба,<br>
            вий сте груба дрога,<br>
            вий сте шумна злоба,<br>
            вий сте гол в утроба!<br>
            <br>
            вий сте малка урва,<br>
            вий сте груба курва,<br>
            вий сте кална клетва,<br>
            вий сте празна клетва,<br>
            <br>
            вий сте пръв в отбора,<br>
            вий сте връв на двора,<br>
            тази връв ще вържа,<br>
            с тази връв ще свърша!<br>
            <br>
            а аз си нямам пешка,<br>
            аз си имам грешка.<br>
            мислят ме за смешка - <br>
            пиклива долна дрешка.<br>
            <br>
            а аз отварям скоба -<br>
            храня се със дрога!<br>
            сготвих ви със злоба<br>
            в моята утроба!<br>
            <br>
            малка влажна урва<br>
            под пола на курва,<br>
            пазя се под клетва<br>
            за високата ви летва.<br>
            <br>
            естествен е отборът,<br>
            щом бесят се по двора<br>
            грешки с грешен възел -<br>
            парченца липсващ пъзел.<br>
        </div>
        
        
        <h3>8. <a href="javascript:;" onmousedown="toggleDiv('lulki');" name="lulki">люлки</a></h3>
        <div style="display: none;" class="coll" id="lulki">
         Те: свидна ли ти е, щом свила се е?<br>
           свидна ли ти е, щом смилил си се?<br>
         Той: свидна ми е, <br>
           щом хапе със острите зъби друг.<br>
           сетне, преди да изстине,<br>
           сваля ченето и сяда във моя скут, под моя струг!<br>
           <br>
         Те: свиден ли ти е, щом смалява се?<br>
           свиден ли ти е, щом свирепее?<br>
         Тя: свиден ми е,<br>
           щом свиня е и се въргаля във чужд обор.<br>
           сетне, преди да изстине,<br>
           сваля калта, смирен пред Смъртта - аз съм транжор!<br>
           <br>
         Тя: моята люлка тактува близостта - <br>
             напред, назад, отстъпвай назад.<br>
             (ръждясал, метрономът спря).<br>
         Той: моята люлка тактува скоростта,<br>
             с която по нас лепи се ръжда,<br>
             щом самотата ни допря.  <br>
        </div>
        
        
        <h3>9. <a href="javascript:;" onmousedown="toggleDiv('slamki');" name="slamki">сламки</a>
        <div id="player_slamki" style="vertical-align:middle">&nbsp;</div></h3>
        <script type="text/javascript">
        AudioPlayer.embed("player_slamki", {soundFile: "mp3/жълти стъкла - сламки.mp3", titles:"сламки", artists: "жълти стъкла"});</script>
        <div style="display: none;" class="coll" id="slamki">
            Самарянка, стопанка на дом куртизанки, <br>
            викат и Вяра Със Заразните Сламки.<br>
            <br>
            към твореца: <br>
            симфонии в синкопи разливай в сифона, <br>
            любов не се проси с инструмент в панталона... <br>
            дестилирай, лечител, истории-отрови. <br>
            квинтесенции ли търсиш!? Зараза изрови! <br>
            на дерайлирал влак си с маймуни наследник - <br>
            демонично се смее Дарвин последен.<br>
            <br>
            към боговете, които не творят: <br>
            Ра, Ра, Ра, Амин, Амон, mon ami, <br>
            спи, спи в балдахин от човешки балсами. <br>
            шифрограми, измами, днес пишем за вас епиграми, <br>
            а вяра във вас имат само влажните дами. <br>
            с До-Ми-но подСолете вашата скука <br>
            и чай ми внесете - творец съм аз, боклукът.<br>
            <br>
            към тебе, който ще те има: <br>
            ти си малък, отдръпни се. <br>
            аз ще те пазя, поклони се <br>
            на заблудата, с която най-истински живееш. <br>
            и не смей да търсиш друга, и тя не ще посмее.<br>
            <br>
            ти си малък, отдръпни се. <br>
            аз ще те пазя, поклони се <br>
            на живота и площада, които с кръв оплисках. <br>
            от децата /за раздяла/ да я скриеш ще поискам.<br>
            <br>
            Самарянка, стопанка на дом куртизанки, <br>
            викат и Вяра Със Заразните Сламки.<br>
        </div>
        
        
        <h3>10. <a href="javascript:;" onmousedown="toggleDiv('miraji');" name="miraji">миражи</a>
        <div id="player_miraji" style="vertical-align:middle">&nbsp;</div></h3>
        <script type="text/javascript">
        AudioPlayer.embed("player_miraji", {soundFile: "mp3/жълти стъкла - миражи.mp3", titles:"миражи", artists: "жълти стъкла"});</script>
        <div style="display: none;" class="coll" id="miraji">
            Животът слага първите миражи<br>
            в мъглата над твоето детско корито.<br>
            Напразно ги търсиш, с пъпки прокажен,<br>
            но върни се и виж го - то е вече пробито.<br>
            <br>
            Животът слага вторите миражи<br>
            в нежната мрежа на любовното сито.<br>
            Напразно ги търсиш, смазан с багажи,<br>
            но върни се и виж го - със Скука набито.<br>
            <br>
            Животът слага последни миражи<br>
            в пердето на твоята старост трикрака.<br>
            Напразно пред Края в тях търсиш куражи -<br>
            Страхът се лекува колкото рака.<br>
            <br>
            (Истината отговаря:)<br>
            Аз съм малка оригама, ти ме сгъна - сега сме двама.<br>
            Със желязна катарама стягам цялата измама.<br>
            <br>
            И всичките миражи, и цялата измама<br>
            деца са ми! Аз съм Истина пряма.<br>
            Напразно ме търсиш, сбъркал окуляра -<br>
            Аз съм безкрайност! Аз нямам мяра!<br>
            <br>
            Аз съм безкрайност! Аз нямам мяра!<br>
            <br>
            // в памет на Добромир Тонев //<br>
        </div>
        
        
        <h3>11. <a href="javascript:;" onmousedown="toggleDiv('sled-kraq');" name="sled-kraq">след края</a>
        <div id="player_sled-kraq" style="vertical-align:middle">&nbsp;</div></h3>
        <script type="text/javascript">
        AudioPlayer.embed("player_sled-kraq", {soundFile: "mp3/жълти стъкла - след края.mp3", titles:"след края", artists: "жълти стъкла"});</script>
        <div style="display: none;" class="coll" id="sled-kraq">
            с чукове кой кове? кой кове в огън<br>
            счупена, пукната Пролет?<br>
            и за квачка-глупачка кафез кове в огън,<br>
            че снесла е спукана Пролет...<br>
            <br>
            с чукове кой кове? кой кове в ярост<br>
            и с жега жигосва той Лято?<br>
            и за жетварка сред кочани страст коса кове в ярост -<br>
            изпотила е в жлезите си Лято...<br>
            в капка по врата и разлято.<br>
            <br>
            с чукове кой кове? чуковете съскат,<br>
            разкъсвайки късната Есен.<br>
            и за малка кибритопродажна метачка<br>
            ковчег кове - издъхнала е (Есен/<br>
            дъха си в последната есен...)<br>
            <br>
            аз: слушай <br>
            всъщност аз съм малка глезла,<br>
            невежа съм на кръстопът.<br>
            <br>
            АЗ: не, чуй <br>
            ме отвътре - Аз съм истина последна -<br>
            зад гърба ми свършва светът.<br>
            <br>
            аз: виж<br>
            ме - аз съм неловкото мълчание,<br>
            в дланите, потните, с цигара.<br>
            <br>
            АЗ: не, виж <br>
            ме - Аз съм цялата мълчание,<br>
            но мълчание - десетки шамара.<br>
            <br>
            аз: мирис<br>
            на море, гора и дамска лига,<br>
            мирис, не - воня ме обгръща.<br>
            <br>
            АЗ: вонята<br>
            съм скрила под кожата. повдига<br>
            ли ти се? чрез мен ще повръщаш!<br>
            <br>
            ЖИВОТЪТ Е В ГАРАНЦИЯ И ГО ВРЪЩАШ!<br>
            <br>
            с чукове кой кове? ти ковеш насила<br>
            риза за безумната Зима.<br>
            и сам наопаки навлякъл усмирителната сила,<br>
            замахваш с чука. А Тя ти го взима.<br>
            смъртта е съдник и преценка ще има.<br>
        </div>
        
        
        <h3>12. <a href="javascript:;" onmousedown="toggleDiv('svetovete');" name="svetovete">световете натрошени</a></h3>
        <div style="display: none; white-space: pre-line;" class="coll" id="svetovete">
            /песента е 12-ата от четвъртия ми албум, а думите в нея са имена на останалите 11 песни./

            <span style="color:#ccaa26">I. Как се става Бог:</span>

            От хоризонта скок.
            Отвъд хоризонта няма Бог.
            От хоризонта ли ще правиш скок?
            Почакай, преди теб наред е Бог.
            Почакай, преди теб ще скача Бог.
            Почакай, почакай, почакай...

            От хоризонта скача Бог.
            Под нас хората оплакват мъртъв Бог.
            Но на хоризонта е нужен Бог...
            Почакай, задръж своя скок.
            Почакай и виж, че вече си Бог!
            Не чакай, изкуши се да бъдеш Бог!
            Скачат само пружинки навити за скок.

            Не чакай, в дланта си ги смачкай.

            <span style="color:#ccaa26">II. Какво е да бъдеш Бог, споделено от нас, Боговете:</span>

            Тече по вените ни плюнка.
            За нас бесилото е само люлка.
            Миражите са силна дрога.
            Да не луминесцирам със дрога не мога.

            Кръгът със сламка бездната изсмуква.
            Язвата му пука се, световете рукват.
            И въртят се останките им зад стената.
            Те /световете/ са мишената, а Ний сме печата.

            <span style="color:#ccaa26">III. Какво сте всички вие за нас, Боговете:</span>

            И след изстрели приглушени
            световете натрошени са.
            На прах, на фрактали, на прах, на фрактали.
            Богове сме и пишем нови скрижали!

            И пред Края сме, и Краят сме, а след Края...
            Не заслужавате да знаете!

            <span style="color:#ccaa26">IV. За Боговете вярващите са скучни, а атеистите безсмислени.
            Боговете настръхват само от Бога до себе си.
            Е, на моя Бог:</span>

            И пред бурята, последната, с теб стоим високи.
            И бездната под нас пищи и мята се нищожна.
            И дланите ни сключени капан са за посоки.
            И хоризонтът е ръбът на дъската ни чертожна.

        </div>
        
        

    </td>
    
    
    <td>
        

<h3>1. <a href="javascript:;" onmousedown="toggleDiv('morga');" name="morga">морга</a>
<div id="player_morga" style="vertical-align:middle">&nbsp;</div></h3>
<script type="text/javascript">
AudioPlayer.embed("player_morga", {soundFile: "mp3/zhs-morga.mp3", titles:"морга", artists: "жълти стъкла"});</script>
<div style="display: none; white-space: pre-line;" class="coll" id="morga">Тя е вярата, че ти си
свръхчовек и Бог, че летиш.

Тя протича остро и изтича срокът, 
в който мостра е Животът.
Тя прилича просто на цинична болест, 
но превръща Живота във хронична горест.

Тя привлича с намек и я искаш в поза,
даваш данък - доживотна диагноза.
Тя си тръгва, оставя ти, освен възторга,
метастазите си да те топлят в Моргата!

Тя е щам, антидот си сам ти.
матираш се сам в един ход, подцениш ли я.
Тя е щам, антидот си сам ти.
бил съм там и знам как боли,
че труп скован си без името Ѝ:

А Тя е вярата, че ти си
свръхчовек и Бог, че летиш.
нямаш време - инжектирай лек!
търсиш вени ли? спри. времето изтече.

затва Олигарх е <a style="color:#ccaa26" href="esmarch.jpg">Есмарх...</a>
</div>


<h3>2. <a href="javascript:;" onmousedown="toggleDiv('nietzsche');" name="nietzsche">личен Ницше</a>
<div id="player_lichennietzsche" style="vertical-align:middle">&nbsp;</div></h3>
<script type="text/javascript">
AudioPlayer.embed("player_lichennietzsche", {soundFile: "mp3/zhs-lichennietzsche.mp3", titles:"личен Ницше", artists: "жълти стъкла"});</script>
<div style="display: none; white-space: pre-line;" class="coll" id="nietzsche">ей, лъжливо копеле си и пак си прав. много прав.
вълк лежи във локва кръв и пази пак своя нрав.
виж, моралът е стадно чувство, а аз съм куче -<br>овчар обучен
да натиквам във морален цикъл. а увълча ли се -<br>аз ли съм приключен или вий?

упоен е полубогът във мен и полувярвам, че така поне един от нас е спасен.
не, не, не! на колене пред наковалнята сме и двамата...
а на Ада дарил е Данте ненужна слава, ненужна врява.
Адът в нас е! И вълкът във мене, макар да дреме, го охранява!

мой личен Ницше, мой личен лишей.
не, не искам теб! от днес си ничий.</div>


<h3>3. <a href="javascript:;" onmousedown="toggleDiv('mizantropsia');" name="mizantropsia">мизантропсия</a></h3>
<div style="display: none; white-space: pre-line;" class="coll" id="mizantropsia">закачих се на конска доза канибализъм.
имплантирай ме в куча поза с хуманизъм.
свърши ли?! не покълна! сега ще ям - бягай!
заразил си ме, проклето псе, с любов - помагай...

и Съдбата пак ме лъже, че чекръкът пак ѝ стърже -
Тя не може да навърже с хора канибала, длъжна е!
от Нея аз си пожелах закуска в урната ѝ с прах.
от Нея аз си пожелах закуска - урната ѝ с прах.

залепих епилептичния си мозък с лепило.
закачих епилептичния си мозък на лепило.
и изтръгвам от него мизантропското жило,
и изтървам във него теб...

благодаря. тръгвай си сега.
благодаря. ненужен си сега.
благодаря, махай се сега.

край на борбата, аз излизам от играта,
за да се науча да не смуча красотата.</div>


<h3>4. <a href="javascript:;" onmousedown="toggleDiv('pritcha');" name="pritcha">притча</a></h3>
<div style="display: none; white-space: pre-line;" class="coll" id="pritcha">по три патрона в пагона на нагона.
по три пирона в найлона на закона.
подред на пилона качвам всяка икона
да прочете канона с жаргона на хормона.
да преведе канона с жаргона на хормона...

тъпча с три стотонни слона фасона на синхрона
и пускам три жетона в окото на циклона.
по триста фараона за всяка корона
с по триста триона режат си клона.

паркирам три вагона във ешафодна зона - 
доставка до домофона - на Голгота е купона!
по три биберона на всеки в ескадрона,
а за ембриона оставям ацетона.

а за себе си оставям,
за себе си оставям, 
за себе си оставям
небосклона.</div>


<h3>5. <a href="javascript:;" onmousedown="toggleDiv('pryama');" name="pryama">пряма</a>
<div id="player_pryama" style="vertical-align:middle">&nbsp;</div></h3>
<script type="text/javascript">
AudioPlayer.embed("player_pryama", {soundFile: "mp3/zhs-pryama.mp3", titles:"пряма", artists: "жълти стъкла"});</script>
<div style="display: none; white-space: pre-line;" class="coll" id="pryama">18.IV.2014 - петък, христос замалко да възкресе.

ТОЙ:
дръж памука, излитай - наслука!
той просмука пилотна поука...
дръж юздите на впряга си, моме - 
може би си на прага, но аз съм отгоре.
дръж връвта на пъпа си - зная, 
че раждаш в Рая сенки на Края.

ТЯ:
аз няма, няма да държа, защото мен държи ме тя...
аз няма да държа, защото мен ме държи от сутринта.

ТОЙ
кораби, уж от хартия, а пак се разбиват в залива ти...
и ти си уж от хартия, сам така те измислих, за да не болиш.
и Той е Бог, и уж е спасител, 
но и Той е закачен и с дупки в ръцете. 
и Той е Бог, и уж е спасител, 
но и Той е закачен и с дупки в ръцете. 

а ти, ти, ти, малка хартийка,
ти със Него си лягаш в една кутийка!
а ти, ти, ти, малка хартийка,
ти с Него се друсаш в жълта кутийка!
а ти, ти, ти, малка хартийка,
ти със Него висиш гръб в гръб в една кутийка!
а ти, ти, ти, жалка хартийка,
беше залив за мен, сега си просто кутийка!

ТЯ:
нима? нима...нима...
дръж си съвестта чиста-бяла, мили - 
същността ти е всъщност парцала.

а в мен Хермафродита възпита
Красота, тя е в изроди скрита!
а в мен Херма...Хероинът възпита
Красота, тя е в изроди скрита!
КРАСОТАТА Е В ИЗРОДИ СКРИТА!

аз няма, няма да те лъжа,
че държиш ме ти, щом държи ме тя....
аз няма, няма да те лъжа, 
че държиш ме ти, щом ме държи от сутринта...

аз няма, но май се лъжеш ти, 
че щеше да ме държиш, ако не ме държеше тя!
аз няма, но се лъжеш ти, 
че щеше да ме поискаш, ако не беше тя!

но мен не ме вълнува тва - 
мен ме държи от сутринта.</div>



<h3>6. <a href="javascript:;" onmousedown="toggleDiv('shivashka');" name="shivashka">шивашка</a></h3>
<div style="display: none; white-space: pre-line;" class="coll" id="shivashka">сам си сам в датата на раждане и смърт.
а тирето между тях е прекият ти път.
сам си сам локва и отразяваш кръг - 
само във море луната чертае светъл път.

сам си сам мечка, братчето ти е килим,
с който аз, ловец на мечки, правя буквички от дим.
сам си сам срам - арматурен спомен ням.
НАС СГЛОБЯВА НИ ЖИВОТЪТ, а теб сглобили са те с кран.

си сам със сабята си в резонанс - 
разшиваш си Края и шиеш си Шанс!
си сам със сабята си в Пантеон - 
сам си си Бог и светът ти е трон!

сам си сам сянката на ястреба свиреп.
всеки плаши се от него, но последно вижда теб.
сам си сам сянката на ястреба свиреп.
всеки мърша е след него, но смъртта си среща в теб.

сам си сам песъчинка жалка, без позлата,
но попаднал си, попаднал си в окото на Съдбата.
и на земята Тя се мята - 
ти дарил си Я със дата!

си сам със сабята си в резонанс - 
разшиваш си Края и шиеш си Шанс!
си сам със сабята си в Пантеон - 
сам си си Бог и светът ти е трон!
</div>



<h3>7. <a href="javascript:;" onmousedown="toggleDiv('po_ryba_na_brysnacha');" name="po_ryba_na_brysnacha">по ръба на бръснача</a></h3>
<div style="display: none; white-space: pre-line;" class="coll" id="po_ryba_na_brysnacha">зиме птиците ти вместо, вместо на юг
летят над тебе в кръг, а в кръга им има труп.
летят над тебе в кръг, а кръгът е с център труп.
ти си колянов вал, композитор на съдби,
но може би провал цял дирижирал си.

аз крача по ръба на бръснача.
и стигнал края не умея да скачам.

ти навигираш смел сам своето рали
но може би без цел по парцела си въртиш.
и мислиш, че летиш в танц със харем принцеси,
но май танцуваш в хола с прашните завеси.
но всъщност май си в плен на железния си шлем...

аз крача по ръба на бръснача.
и стигнал края не умея да скачам.
аз крача по ръба на бръснача.
и стигнал края, не умея, но скачам, 
скачам, скачам,
щом към тебе ще падам. щом със тебе ще падам.
</div>



<h3>8. <a href="javascript:;" onmousedown="toggleDiv('chista_krainost');" name="chista_krainost">чиста крайност</a>
<div id="player_chista_krainost" style="vertical-align:middle">&nbsp;</div></h3>
<script type="text/javascript">
AudioPlayer.embed("player_chista_krainost", {soundFile: "mp3/zhs-chistakrainost.mp3", titles:"чиста крайност", artists: "жълти стъкла"});</script>
<div style="display: none; white-space: pre-line;" class="coll" id="chista_krainost">бяс бях, бяс &mdash; сега съм вече пас,
сега съм във пясъка забучения фас.
първи клас &mdash; от носа ми капе мас,
револвер съм заредила &mdash; барабана пълня с глас.

моите белези са влакови прелези &mdash;
щом мине влака, щом свърши влака, пак ще съм себе си.

бях, бях малка чистичка случайност, 
кацнала, горката, във ухото на иглата.
а сега с мръсна всеотдайност
случайности изправям да разстрелям на стената.

бях, бях пълен с грях.
но пълен, пълен! макар и с грях...
а сега съм празен мях.
празен, празен, пълен само с прах.

напълни ме с каквото и да е.
напълни ме с каквото и да е.
с бяс, със фасове, с омраза,
всеотдайна злоба, с любов, с зараза!

моите белези са влаковите прелези &mdash;
щом мине влака, изпуснал влака, пак ще съм
себе си &mdash; пълна с бяс,
барабана заредила с глас!
себе си &mdash; чиста крайност!
чиста крайност!
чиста крайност!
<p style="margin-left: 16pt; color: #ccaa26 !important"><a style="color: rgb(204, 170, 38) !important;" href="mp3/жълти стъкла - чиста крайност.mp3">изтегли песента</a></p></div>


<h3>9. <a href="javascript:;" onmousedown="toggleDiv('oshte');" name="oshte">още</a></h3>
<div style="display: none; white-space: pre-line;" class="coll" id="oshte"><p>аз:
прав ми път и крива пътека,
зад разклона няма утеха.
прав ми път и крива пътека &mdash;
ще вървя, щом кръста ми снеха.

прав е бил мъдрецът да каже &mdash;
"става, квото сабя покаже!"
но е май забравил да каже, че
няма как с кръв да не я омажеш.

първи път се срещнах със Злото
под юргана, сам в леглото.
и най-безсрамно го редувам с молитви,
сякаш само те стигат на Бог ухото.

не, не мога да се разтревожа,
дори до кокал щом опрял е ножа.
ще предложа &mdash; дайте ми ножа
и в нозете си света ще положа!

доброто: - ела за закуска...
     аз: - не! балон съм сутрин и изпускам...
доброто: - ела за обед...
     аз: - пладне съм в канал вместо в полет.
доброто: - ела за вечеря...
     аз: - не! вечер въжето си меря.
доброто: - ела в мене нощем!
     аз: - не, не. нощем плача, че ме има още.</p></div>
	 
<h3>10. <a href="javascript:;" onmousedown="toggleDiv('strujki');" name="strujki">стружки</a></h3><div style="display: none; white-space: pre-line;" class="coll" id="strujki"><p>Нé стой на брего, моме, нé стой на брего -
правиш дупки в пясъка ми, махай се от него!
Нé стой на прага, моме, нé стой на прага - 
цапаш ми килима, моме, тръгвай си веднага!
Нé стой на сянка, моме, нé стой на сянка - 
сянката сега е скрила мойта пепелянка!

Ей, малкай моме, покажи си рогцата!
- Мили, май рогата ми сá ти на главата...

Ей, малкай моме, ти прати свойте дружки - 
гостуват ми в очите ми - медни стружки...
Ей, малкай моме, ти прати свойте братя - 
окови по ръцете ми, не мога ги отпратя...
Ей, малкай моме, ти прати свойта сянка - 
зазида се в главата и краде ми всяка дрямка...
Ей, малкай моме, прати ми най-подир,
прати ми най-подир 
Край...</p></div>


<h3>11. <a href="javascript:;" onmousedown="toggleDiv('pqsychnika_na_sveta');" name="pqsychnika_na_sveta">пясъчника на света</a><div id="player_pqsychnika_na_sveta" style="vertical-align:middle">&nbsp;</div></h3>
<script type="text/javascript">
AudioPlayer.embed("player_pqsychnika_na_sveta", {soundFile: "mp3/zhs-pyasachnika.mp3", titles:"пясъчника на света", artists: "жълти стъкла"});</script>
<div style="display: none; white-space: pre-line;" class="coll" id="pqsychnika_na_sveta"><p>гонки през пустинята на моето сърце
с хонорар хамбар, пълен с прясно слънце.
и камилите халюцинират рай,
но за разлика от нас плюят на идеята за Край.

и през дюните пълзи и чезне в прах
властелин от пластелин &mdash; керван на име Страх.
а в тюрбана си скрила съм яйце.
и лъчите мътят в пот лешоядче без криле.

пустинята:
аз Съм! а ти коя си?!
аз:
аз съм пясъчно, жълто стъкло.
и колко маси пясък през мен е изтекло.
и колко маси слънце през мен е изтекло.
и тонове от стонове, и тонове от стонове...
завещал ми е баща ми себе си &mdash; Времето.
а мама завеща ми себе си &mdash; Вечността...
и тонове от стонове, и тонове от стонове...

вихри играят на апаши в пясъчника на света,
а щом промяната ги сплаши, те стражари вече са.
и рулетката върти, върти въртопи дни.
о, ято месоядни дни, ела се с пясък нахрани!</p><p style="margin-left: 16pt; color: #ccaa26 !important"><a style="color: rgb(204, 170, 38) !important;" href="mp3/zhs-pyasachnika.mp3">изтегли песента</a></p></div>


<h3>12. <a href="javascript:;" onmousedown="toggleDiv('kafeza_na_kreza');" name="kafeza_na_kreza">кафеза на Креза</a></h3><div style="display: none; white-space: pre-line;" class="coll" id="kafeza_na_kreza"><p>песен - гатанка.

и гладко, и сладко, и пак ти нагарча - 
внезапен напън напира.
и рядко, за кратко в юмрук се събира,
а от юмруци всеки разбира.

шибни с камшика кафеза на Креза!...
и виж как се ронят жълтици.
но и вътре Го няма, а вътре крале са
птици в очите с карфици.

разший, разширявай на Зенита зеницата - 
вместо теб да Го търси.
и може би някога във очите си карфицата
ще напипаш със пръсти.

Го намира, който яде 
сърце на дете, сърце на дете.
но Го намира и който плете 
от ръцете си люлка за чуждо дете.
Го намира и който краде 
парченце небе и го продава за две!
не Го намира само който не спира 
да търси небето, където и да е!

спри да Го търсиш, ах, спри, откажи се!
Него Го няма, но Тебе те има!
спри да Го търсиш, излез от съня си!
Него Го няма, но Тебе те има!

НЕГО ГО НЯМА, ТЕБ ОБАЧЕ ТЕ ИМА...</p></div>

<h3>13. <a href="javascript:;" onmousedown="toggleDiv('vazli');" name="vazli">възли</a></h3><div style="display: none; white-space: pre-line;" class="coll" id="vazli"><p>с пъпна връв се ражда всеки,
не с пътеки и не със стрели.
кръв след кръв опитва всеки
да докаже, че не го боли.

и стръв за нас е всеки,
посмял над нас да се смили.
пръв захапал куката, разбираш,
че не знаеш всички възли.

не е на мода слабата природа...
канибален е света! - 
всичко се връща, превръща се в храна.

церебралните ни нишки
са най-личната носия.
я Бог уши, Битът разшива,
коя я носи, кой търпи я?!

във очите ни дели се
атомът, плътта и Бога, личността, пръстта и дрогата...
а в душите ни лепи си
Истината некролога.

канибален е света! - 
всичко се връща, превръща се в храна.
ний ядохме от вас, от всички преди нас!
ний ядохме от вас, но няма да дадем
да ядете нас! няма. няма.</p></div>

<h3>14. <a href="javascript:;" onmousedown="toggleDiv('geshtalt');" name="geshtalt">гещалт</a></h3><div style="display: none; white-space: pre-line;" class="coll" id="geshtalt"><p>Спри досами Прага, и виж как сами,
и виж как сами пред Прага сме двама...
Но спри да плачеш, и се огледай,
и може би и трети ще се намери!

Спри досами Храма, и виж как сме трима,
и виж как сме трима и е обща всяка рана.
Но спри да плачеш и се огледай,
и може би четвърти ще ни намери!

Спри досами Края, и виж как сме много,
и виж как сме много и Светът е тясна стая.
Но спри да плачеш и се огледай,
и може би и Свят ще си намерим!

Щом свалил човекът хомота си отрано,
видял е: до гърди ралото в тела вкопано...
Надени, човеко, хомота си отново -
от нас Тяло се роди, теб да погребе готово!

И нашият Свят не ще трансформира,
не ще трансформира злато в олово!
и новият Свят не ще го забива
куршума оловен в месото сурово!

И виж, човеко, виж ни! Виж ни как сме Тяло!
И виж го как е наше Бъдещето цяло!</p></div>

<h3>15. <a href="javascript:;" onmousedown="toggleDiv('nas_hvanat');" name="nas_hvanat">нас ще ни хванат</a></h3><div style="display: none; white-space: pre-line;" class="coll" id="nas_hvanat"><p>и върти, и въртейки се Пумпалът стои,
но, уви, свърши ли скоростта, той търкаля се в пръстта.
чекръкчии чупят пръсти
над изкривяването на Света.
няма кой да го прекръсти - 
не го иска дори Смъртта.

нас ще ни хванат, и когато ни хванат,
само дръж мен, аз ще държа камък...

от кошарите нощес надничаме
право в мръсните дула,
и кошмарите ви ний подсичаме
с отрова от детските жила.
и може би е просто
всяка ниша пълна с лишей,
пълна с киша, пълна с троскот,
излез оттам и дишай!

нас ще ни хванат, и когато ни хванат,
само дръж мен, а аз ще държа камък...</p></div>
    </td>
    
    
    <td>

    <h3 style="text-align: right;"><a href="javascript:;" onmousedown="toggleDiv('jylti');" name="jylti">жълти стъкла</a></h3>
    <div style="display: none;" class="collr" id="jylti">
    <p>тази вечер слънце изгря<br>
    и всички малки метафори гадни<br>
    бързо се измъкнаха от свойте гнезда,<br>
    за да нагазят в потоците хладни</p><p>
    от сълзите на милиони деца<br>
    в този свят мъртвородени<br>
    но на мен какво ми пука от тва<br>
    мечтите ми и без това са скопени</p><p style="margin-right: 16pt;">
    най-чест гост ми е мойта китара,<br>
    тя седи във креслото ми като жена<br>
    сред стари отломки от мъртви поети,<br>
    остатъчни образи, жълти стъкла</p><p>
    никога не съм разбирал въпроса,<br>
    можеш сама да си отговориш.<br>
    остър нож под кръста си нося,<br>
    можеш с него търбуха на света да разпориш<br>
    </p>
    </div>

    </td>

    </tr>

    </table>

    </td></tr>

    </tbody></table></center></div>
