    <div><center>
    <table width=100% cellpadding=0 cellspacing=0>

    <tr><td>

    <h3><a href="javascript:;" onmousedown="toggleDiv('vyzdejstvie');" name="vyzdejstvie">аз вече няма да...</a></h3>
    <div style="display: none;" class="coll" id="vyzdejstvie">
    <p>Да се изгубя под плочките<br />
    Казал восъкът и заспал<br />
    Да се изгубя под плочките<br />
    Отронен от манастирска жал.<br />
    Ще намеря аз парите<br />
    За въже, за пистолет<br />
    Ще застрелям с него дните<br />
    И до тях ще висна вгледан напред.<br />
    Се отроних пак на есен<br />
    Все клонът ми е тесен<br />
    И потъвам във тревата<br />
    И изсъхва ми душата.<br />
    Ставам от своето нощно гърне<br />
    и виждам навънка се вее перде<br />
    зад него Зима света ми оре:<br />
    с тва перде ли ще ме плашиш, сополиво дете?<br />
    Цъфна старата топола<br />
    Цъфна младото лале<br />
    И стърчи самотен кола<br />
    Където не цъфна детето-леке.<br />
    И се съблече нощната жега<br />
    И се отърка в овчарската гега<br />
    И си легна със овцете <br />
    И се събуди със вълчета.<br />
    И удушена със мръна ръка<br />
    И прободена с мръсна стрела<br />
    И пронизана с мръсен куршум<br />
    И съблечена във моят ум<br />
    Природата скочи сама в калта<br />
    И смело я яде и плю грозота<br />
    И смело с ръце разкъса гръдта<br />
    И тече бяла кръв, червено мляко... и стопи се в калта.<br />
    Боли ме от тебе боли ме във тебе<br />
    забравям  че Тя боли и във тебе<br />
    Все ще разчупваме природата на две<br />
    Все ще се хапем изтисквайки в ръце<br />
    Тва което бяха сърцат ни<br />
    Тва което са  днес децата ни.<br />
    Трябваше да изпием горчивото вино<br />
    На него, живота, от смъртта подарен<br />
    Сега лежим с теб и с отровното вино<br />
    На гарата мъртви с живот отменен.<br />
    Трябваше да запалим свещ и за бога<br />
    Трябваше да запалим свещ за облога<br />
    Че аз ще забуча топлийка във рога<br />
    На дявола и знам, че вече ще мога<br />
    Да бъда да бъда да бъда да бъда<br />
    Със теб сама със теб сама<br />
    Пръстенът, пръстентът, заспал заспал<br />
    Пръстът пръстът завидял завидял<br />
    На показалеца на който се върти света<br />
    На показалеца забучен навътре в носа</p>
    </div>

    <h3 align=right><a href="javascript:;" onmousedown="toggleDiv('tikva');" name=tikva>не е лесно</a></h3>
    <div class=coll id=tikva><p>
    баща ми умря.</p>

    <p>от свръхдоза<br />
    от рак на мозъка<br />
    от рак на кръвта<br />
    от рак на дебелото черво<br />
    от срам,<br />
    от мъка,<br />
    от глад.</p>

    <p>когато това се случи, иззад кулисите се подаде<br />
    могъщият селски кур на инж. димитров<br />
    и по анадолски облада моята майка</p>

    <p>от което тя ме пометна в канавката, която нарекох роден дом.</p>

    <p>но това не й произведе никакво впечатление,<br />
    защото я бе обзело странно вдъхновение:</p>

    <p>тя изхвърли всичките си касетки<br />
    изгори всичките си тениски на групи<br />
    и, както беше пълна със семе, възкликна:</p>

    <p>не е лесно!<br />
    не е лесно да си тиква...</p>
    <br /></div>

    <h3 align=right><a href="javascript:;" onmousedown="toggleDiv('vremeto');" name=vremeto>по времето на прехода</a></h3>
    <div class=coll id=vremeto><p align=right>
    “По времето на Прехода зачестяват наблюдения на<br />неидентифицирани летящи обекти, необясними климатични явления,<br />манифестации на и обсебвания от "нечисти сили".<br />Виновниците биват задържани...”<br />
    <i>из преписка в едно учреждение</i></p>

    <p align=justify>В студената лятна вечер с Николай крачехме по последната уличка, преди да завием за неговата землянка и, въпреки почерпката, си зъзнехме съвсем сериозно. Пъхнали ръце в джобовете на якетата, ние осторожно следяхме сенките си, проточили се напред по огрения от бледосинкавата месечина и примигващото улично осветление калдъръм, тъй като зад нас се мяркаха фигурите на двама яки възпитаници на Оперното училище. Те пееха арии от забранения Берг, като на всеки няколко срички комично прескачаха от провлачен баритон в писклив фалцет. Не ни се искаше да си имаме работа с тях – после щяхме да си изпатим. Но, в случай, че решаха да ни издебнат в гръб, изненаданите щяха да бъдат именно те.<br />
    Албан Берг, разбира се, изобщо не беше забранен. Все пак живеем в свободна, правова, демократична Царска република. Нищо не е забранено у нас. Просто правиш едни неща и живееш в мезонет в Жарден дю Пандора, правиш други и, също като моя приятел Николай Хапни-калай, в жилище от клас „З”. А веднъж успееш ли в тоя живот, кеф ти Берг, кеф ти Достоевски, кеф ти Зурзмансор или Ботев. Ще се нагледаш, наслушаш, може би дори и начетеш, но, в общия случай – наядеш на плодовете, недостъпни за троглодитите от клас „З”. Но ще можеш само да се гавриш с тях. То при нас е нещо като поговорка, казва се така: по всичко личи, значи, че някога на Земята са живеели нормални хора, ама аз все пак не вярвам.<br />
    А Оперното представляваше елитна школа за подлеци. Освен че Операта де факто заместваше летаргичния парламент, и извън нея артистите всячески служеха на високопоставената си публика. Подмолни интриганти, скъпи и евтини проститутки, първокачествени светски личности, плоски до двуизмерност, които да хвърлят звезден прах в очите на хората и шарлатани, които междувременно да ги ограбват – цялата тази сган се култивираше в Оперното училище. Смяташе се за върховен престиж да учиш там. Рано съзрелите юноши и девойки постъпваха заради конкретни амбиции, по-малко целеустремените техни връстници – от стремеж просто да си уредят добър старт в живота. Подлецът лесно храни семейство.<br />
    – Обърни внимание – изведнъж рече Николай.<br />
    Николай никога не казваше „гледай”, винаги „обърни внимание”; а „виж” само когато искаше да го слушат. Спрях. Той беше на крачка зад мен и сочеше нагоре. Вдигнах поглед към небето и видях Луната, необичайно голяма и нездраво зелена. За секунди тя пожълтя като стар вестник, след което изведнъж стана наситено морава, поспря за миг и рязко се търкулна зад хоризонта. Инстинктивно размахах ръце, за да запазя равновесие – бях свикнал подобни маневри от страна на околните предмети да подсказват, че падам назад. Почувствах се глупаво.<br />
    Беше настанал мрак. Тръгнахме тихо и бързо, както се върви в тъмно. Щом свихме зад ъгъла, ударихме на лудешки бяг и се спряхме чак пред землянката на Николай, за да се ослушаме дали ония не идват след нас.</p>

    <p>На следващата сутрин се срещнахме у Чибукчиев. Трябва да се обърне внимание, че при нас заведенията обикновено бяха най-пълни преди обяд, когато посетителите се зареждаха с положителни емоции, за да изкарат деня. Отчаяно се опитваха да карат без насилие и в дух на братство, което оставяше у тях зееща огромната празнина, върху която оскотяването би турило измамно покривало. Някои се друсаха, други – не. Всички бяхме нещастни. Ставахме болезнено рано. Някои дупки отваряха към два-три часа сутринта. Мацките и поетите ходеха там да гледат изгрева над асфалта, а ние ги посещавахме на нередовен принцип, за да забием някоя мацка за отмерен период измамна обич или пък за да изпросим от някой поет зрънце надежда. Макар че в последно време поетите все по-често налитаха на бой.<br />
    Когато влязохме, Чибукчиев беше с гръб – сменяше батерийката на стенния часовник. Този хитър на дребно, засмян чичо, мустакат, черен като дявол и с очи, светещи като на котарак, вездесъщ зевзек, последен по рода си представител на измряла порода хора, носеще в гена си спомени от епоха, за която дори не можехме да се досещаме. Като ни чу да кацаме на бракуваната от някаква ученическа столова маса в единия ъгъл, той промърмори, както на непознати:<br />
    – Не четат, не четат тия, младите, тц-тц-тц. А то си го пише ей тука: „Заведението е на самообслужване”!<br />
    – Значи само? обслужва...<br />
    – Пфу, тарикат, кой говори така, бе? – изплю се той, па се засмя. – Ще стане човек от тебе! Днеска какво ще е, момчета? Калай, за тебе обичайното?<br />
    – Отказах ги, бай Чибукчиев – рече Николай.<br />
    – Че кога успя, бе, душа? – простодушно запита съдържателят.<br />
    – Ами от последния път, като те посетих, бе, бай Чибукчиев.<br />
    – Така значи, тарика-а-ат... – проточи тютюнджията. – Добре, бе, душо поганска. Заведението черпи. Днеска сте ми първи гости, след вас колко върви, ако знаете...<br />
    – Недей, бе. Аз наистина съм решил да ги спра.<br />
    – Добре правиш, то е вредно за здравето... – сви рамене домакинът ни, за миг като че ли се замисли, па бръкна под тезгяха, промърморвайки нещо, което може би трябваше да чуем, ама поне аз не успях.<br />
    Инак беше хубаво, когато Чибукчиев за момент спираше гръмогласния си лаф-моабет с всеки срещнат, за да ти каже нещо тихичко. Това означаваше, че ти има доверие. Старият тютюнджия отдавна беше взел страха на цялата махала, давайки недвусмислени сигнали, че е доносник, ползващ се с особени привилегии. Старите кучета обаче знаеха, че, преди махането на опозицията, Чибукчиев до последно е бил неин привърженик. На мене той гледаше с добро око, но подлеците – с каквито около нас, разбира се, беше пълно, с лопата да ги ринеш – той така наклепваше пред когото трябва, че някои повече не се и чуваха. А преди това ги оскубваше едно хубаво за благото на заведението. Така беше оцелял родът му от незапомнени времена. Може би още от Византийско. Чибукчиев не бъркаше никога в преценката си за хората и понякога ми се струваше странно, че той като че ли малко се боеше от Николай.<br />
    Идох до тезгяха, Чибукчиев извади три швепса, отвори ги, па взе единия.<br />
    – Ха наздравичката...<br />
    Чукнахме се, гледайки се в очите. Взех шишетата и си седнах.<br />
    – Ти снощи щеше да ми разказваш... за Оперното нещо? – подсети ме Николай.<br />
    Позамислих се. Помълчах. И започнах, колко му е. „Значи”...</p>

    <p>Когато ти, Калай, още си живял под някой камък, ние от прокълнатиата не сме трева пасли, я! То си е открай време. Човек, нали, е млад, има сили и дни за глупости, а после започва да прави все по-големи отстъпки от принципите си, и така, докато не се сбабичоса съвсем и не го умори стресът. А е някакси неестествено сякаш. Какво пък...<br />
    Та родителите ми бяха точно такива хора. Майка ми отрано се беше вредила на безинтересно и вечер ходеше на дискотека с приятелки. Баща ми пък вечер посещаваше на непоносими курсове за борба със стреса. Луд го изкараха, горкия. А той просто искаше всяка сутрин да посреща изгрева, друго не му трябваше. Виждал съм го да се измъква по нощите и да ходи на покрива – някакси се беше сдобил с ключ за тесния люк от наплют от мухите до абсолютна чернота син плексиглас. Напук на домоуправителя – оня същия, който ни дърпаше ушите като малки, а после го прибраха за педофилия. Ставаше ми мъчно за него, за баща ми, де. <br />
    А после смениха блоковете с по-високи – първо откъм изток и запад – и окончателно престана да ми е жал. Ти да не си помислиш, че баща ми беше един от онези неразбрани гении, ония светила, тъпкани навсякъде, накъдето тръгнат, по причина на собственото си достойнство, и затова вечно и безкрайно неориентирани. Няма такъв филм! Слънцето беше единствен негов порив, кой знае откъде насаден. То  по онова време все по-рядко се показваше иззад гъстите облаци с неизяснен състав. Нали бях малък, мислех си, че знае, че няма кой да го посреща, и затова хич не си и прави труда.<br />
    Иначе общо взето си живеехме мирно и тихо. Оперното тогава не приемаше даже първолаци – сега, чувам, щели да откриват към него и Прогресивна детска градина, ако си минавал към центъра наскоро, видял си, сградата на стария музей – е, де да те знам сега, казвам само; ако имаш път натам, иди, виж – та успях да изкарам класическо махленско детство. Играехме на топка, на „роби”, на „челик-сопа” и на „кибрит”. Криехме се в храстите да пушим мащерка и да се правим, че е марихуана, а после дръпвахме по веднъж от цигара за „затапка” – не ми се мисли какви химии е имало вътре – и, понеже от цигарата кухите ни детски главици се замайваха, мислехме, че мащерката ни хваща. После тревата, дето толкова време се бориха да я разрешат, набързо пак я забраниха, затова пък пуснаха стимулантите. Лишено от примера на батковците и какичките, това наше занимание бързо отмря. Детска му работа! Я чакай да ида за швепс.<br />
    Тъй... Айде – за здраве на мъртвите! Чук! А така... Ако съм ти досадил с тия приказки, да беше казал по-рано, човек. То сега се започва любопитното.<br />
    И мене щяха като нищо да ме пратят в Оперното. То и сега няма никаква яснота за какво става въпрос там, че тогава ли... То и тогава си приемаше все така – по един випуск на четири години, с пълен пансион и прочие. Един драматург да стана – лошо ли е... Ама нямаше да стана. Както си му е редът, родителите ми идоха на постановка във Филиала, после издириха нужната приятелка на брат’чедката на колежка на някоя от безчетните приятелки на майка ми, уредиха каквото трябва, аз междувременно бях взел осми клас с отличие и стана време за очна ставка. За да гарантират успеха ми, дъртите отново на филиал, там гастролира по повод лечение на гастрита на суфльорката Втора Трупа към губернатора на Задморие и Симферопол, изобщо всички важни клечки са се събрали да покажат присъствие. Че и не само те – защото именно там, толкова тихо, че едва го чували под грохота на аплодисментите, някой от задния ред им намекнал за следната история...</p>

    <p>Та момчето било единствен син на заможни, но ориентиращи се към застаряване родители от провинцията. Дошло с майка си тук, а бащата останал да си наглежда търговията и малко по малко придобил влияние. Имал възможност да запише сина си в елитно училище – възползвал се. Стегнал се отрокът, взел си изпитите с отличие, влязъл за драматург. Мислят си хората, че там учат децата пиеси да пишат. Къде ти...<br />
    Абе кой знае на какво ги учат всъщност, че да станат чак такива. То, за да си Драматург, трябва първо на първо да си лишен изцяло от собствени стремежи. Кой ще позволи на подобно оръжие да притежава своя воля... Пък това не ти е някой тъпанар, за драматург трябва да си изключително интелигентен. И после умът правел човека добродетелен. Да ми ядат ушите! Повечето умни хора, дето познавам, са един от друг по-големи боклуци. Но друго ме притеснява: за да манипулират така съвършено хората, за да предвиждат техните постъпки с математическа точност, драматурзите трябва да разбират всяка своя марионетка по-добре, отколкото тя сама себе си! Но сблъсъкът с тия хора, които общо взето минават за добри не изгражда у тях никакви морални категории. Те нашето за нищо го нямат...!<br />
    Учил нашият хрантутник каквото учил, станало време да завършва. И като се почнало – баща му изпада в немилост и се мести тук, три пъти е на косъм от фалит, продава фирмата си на безценица и го вземат счетоводител към някоя Дирекция ли, Агенция ли. Там му натрисат едни хубави злоупотреби, отърва се като по чудо, но цялата столица вече му е тясна, гони го параноя. Съсипва си нервите, катастрофира, отново по чудо го спасяват. Въпреки, че се чувства здрав, остава полу-принудително на легло с месеци.<br />
    Скоро след като е приет в болница, майката на момчето получава нетърпимо главоболие на зачестяващи пристъпи. Ходи по лекари, те си я предават един на друг, я са я прегледали два-три пъти, я – не... С последни сили и пари стига до едно от нашите светила, д-р Еленина, отлична лекарка, напълно продажна, разбира се, оная й открива рак на мозъка в напреднала фаза, с метастази навсякъде, плюс някаво живачно отравяне... Успяват да я уредят да плати след лечението си, настаняват я на легло. И то не кое да е – защото точно срещу нея лежи мъжът й. Сами са в просторното общо помещение. Те леглата в болниците тогава не достигаха, преди да направят цялото здравеопазване с пари. А и отделенията още тогава бяха разделени по пол...<br />
    Единственото, което ги крепяло по време на безкрайното ходене по мъките – това били писмата на сина им, който обещавал скорошно завръщане.<br />
    И, съответно, били съсипани, когато една сутрин в просторната зала, необезпокояван от никого, пристъпил, променен до неузнаваемост, не друг, а именно синът им – но не за да сбъдне техните вече съвсем мистични надежди за избавление, а за да им каже насаме, че именно той е причинил всичките им страдания – като изпит за състоящата се именно в това негова дейност като Драматург...</p>

    <p>Разбира се, човекът в театъра не им разказал всичко това, то се разчу после. Пък и нещо да съм, така, украсил – лошо ли е? В театъра оня само загатнал общите очертания на цялата история, но това, освен да разубеди моите старци, живи и здрави да са, било достатъчно и през втория антракт човекът тихо и кротко да бъде отведен. То, ако идеш в Операта, над публиката висят едни микрофони, дето хората си мислят, че служат да усилват аплодисментите. Мене са ме водили като по-малък и много съм им се чудил. А то през тях ще да са го чули...<br />
    Пък кой знае, може и да е измислена историята. Като стоят толкова големи сили отгоре – как изобщо се е разчуло?<br />
     <br />
    Николай дълго мълча, а после ме погледна в очите. За момент като че ли усетих какво толкова страшно намира Чибукчиев у него. Тръпки ме полазиха, въпреки, че нещо ми подсказваше, че у този човек, когото наричах свой приятел, наистина нямаше капка злонамереност.<br />
    – Аз тая история... иначе я знам – заговори той. – Оня... наистина им разказал как ги обрекъл на мъчителна смърт. При това така, че тях още повече да ги заболи. А те, знаеш ли... заплакали!<br />
    Каза го, сякаш това беше най-невероятното нещо в света. И тогава като че ли у него нещо се промени, прищрака, скъса се.<br />
    – Заплакаха от щастие, че синът им ще успее в живота...</p>

    <p>Нужно ли е да споменавам, че, макар веднъж да бях чул за него, оттогава не съм виждал Николай?<br />
    </p>
    <br /></div>



    </td></tr></table></center>
    </div>
