    <div>

    <center>
      <table cellpadding="0" cellspacing="0" width="100%">
        <tbody>

<tr><td colspan="3"><div style="font-size: 16px; text-align: center; color: rgb(204, 170, 38);"><br>какво си купихме.<br><br></div><hr><br></td></tr>
<tr><td>

<div style="float:right;margin-top:11px;">
<img id="glass" src="technica/glass.jpg" width="586" height="500">
</div>

<h3>клавишни</h3>
<ul>
<li>ensoniq sq80</li>
<li><a class="instrument" href="technica/synth-yamaha.jpg">yamaha psr-r200</a></li>
<li>m-audio oxygen 8 v2</li>
</ul>

<h3>акустични китари</h3>
<ul>
<li><a class="instrument" href="technica/guitar-orpheus.jpg">орфей</a></li>
<li><a class="instrument" href="technica/guitar-jylta.jpg">жълта</a></li>
<li>бяла</li>
<li><a class="instrument" href="technica/guitar-ortega.jpg">ortega rce145wh</a></li>
</ul>

<h3>електрически китари</h3>
<ul>
<li><a class="instrument" href="technica/guitar-washburn.jpg">washburn x10</a></li>
<li><a class="instrument" href="technica/guitar-peavey.jpg">peavey raptor</a></li>
</ul>

<h3>басове</h3>
<ul>
<li>орфендер <em>(r.i.p.)</em></li>
<li>diy fretless acoustic</li>
<li><a class="instrument" href="technica/bass-hohner.jpg">hohner b2</a></li>
<li><a class="instrument" href="technica/bass-hk.jpg">hk 7-string</a></li>
</ul>

<h3>машини</h3>
<ul>
<li><a class="instrument" href="technica/alesis-hr16.jpg">alesis hr16</a></li>
<li>alesis io4</li>
<li>e-mu tracker pre <em>(sold)</em></li>
<li><a class="instrument" href="technica/laptop-acer.jpg">acer 5750g</a></li>
<li>toshiba satellite <em>(decommissioned)</em></li>
<li>zoom g1</li>
</ul>

<h3>микрофони</h3>
<ul>
<li>октава мкэ-271</li>
<li><a class="instrument" href="technica/mic-pl84.jpg">electro-voice pl84</a></li>
</ul>

<h3>визия</h3>
<ul>
<li>проектор</li>
<li>екран</li>
</ul>

<h3>софтуер</h3>
<ul>
<li>reaper</li>
<li>афтър ефектц</li>
</ul>


</td></tr>

          </tbody>
        </table>
      </center>

    </div>

<script>

(function(){

var instruments = document.getElementsByClassName("instrument"),
    glass       = document.getElementById("glass");

for (var i = 0; i < instruments.length; i ++) {
    var instrument = instruments[i];
    instrument.onclick = function () {
        glass.src = this.href;
        return false;
    }
}

})();

</script>
