doctype html
html
  head
    title жълти стъкла
    link(rel="stylesheet", href="style.css")

    meta(charset="utf-8")

    meta(http-equiv="cache-control", content="max-age=0")
    meta(http-equiv="cache-control", content="no-cache")
    meta(http-equiv="expires", content="0")
    meta(http-equiv="expires", content="Tue, 01 Jan 1980 1:00:00 GMT")
    meta(http-equiv="pragma", content="no-cache")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")

    meta(name="google-site-verification", content="fBVdq6Xm23t6klX3Yzc6PE6HVhc-orOyTFzUpRKKQu4")
    script.
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35027215-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    #main
      #head
        .site-title жълти стъкла
        .navigation
          a(href="bio.html") ние
          | &middot;
          a(href="knijka.html") вие
          | &middot;
          a(href="songs.html") песни
          | &middot;
          a(href="stories.html") приказки
          | &middot;
          a(href="risunki.html") рисунки
          | &middot;
          a(href="photos.html") снимки
          | &middot;
          a(href="video.html") видео
          | &middot;
          a(href="afish.html") афиш
          | &middot;
          a(href="technica.html") техника
          | &middot;
          a(href="http://eter.dysphonic.eu") етер
          | &middot;
          a(href="contact.html") контакти
          | &middot;
          a(href="dumichki.html") думи от вас
        hr

      div
        block content
        | !{staticContent}
